<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,318},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>1_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,159},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>10_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{153,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,158}}</string>
				<key>sourceSize</key>
				<string>{153,158}</string>
			</dict>

			<key>2_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,318},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>3_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,0},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>4_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,159},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>5_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,318},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>6_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>7_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,159},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>8_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

			<key>9_rungram.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{152,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,158}}</string>
				<key>sourceSize</key>
				<string>{152,158}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{612,477}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>