<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,490},{179,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{179,148}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>1_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,470},{171,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>2_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,303},{121,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,0},{121,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>3_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,0},{144,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,15},{144,140}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>4_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,470},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>5_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{176,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,9},{176,141}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>6_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,328},{179,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{179,161}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>0_blur_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{179,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>1_blur_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,306},{171,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>2_blur_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,467},{120,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,0},{120,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>3_blur_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,141},{144,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{144,161}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>4_blur_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,306},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>5_blur_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,142},{176,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

			<key>6_blur_longvuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{179,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,163}}</string>
				<key>sourceSize</key>
				<string>{179,163}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{621,639}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>