#canvas{
    background: #000;
}
#leaderboard{
    font-family: "Montserrat";
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 0;
    width: 225px;
    overflow-x: hidden;
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    transform-origin: right top;
}
#leaderboard p{
    margin: 0;
    padding-left: 15px;
    line-height: 1.2em;
    white-space: nowrap;
    position: relative;
}
#leaderboard p:nth-child(2){color: #FF5722;}
#leaderboard p:nth-child(4){color: #2196F3;}
#leaderboard p:nth-child(3){color: #FFC107;}
#leaderboard p:nth-child(5){color: #9C27B0;}
#leaderboard p:nth-child(6){color: #4CAF50;}
#leaderboard p:nth-child(7){color: #673AB7;}
#leaderboard p:nth-child(8){color: #00BCD4;}
#leaderboard p:nth-child(9){color: #CDDC39;}
#leaderboard p:nth-child(10){color: #03A9F4;}
#leaderboard p:nth-child(11){color: #9E9E9E;}
#leaderboard p span{
    display: inline-block;
    width: 25px;
}
#leaderboard h6{
    font-size: 30px;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 10px;
}

#wrapcover{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#chatwrap{
    position: fixed;
    bottom: 50px;
    left: 0;
    padding-left: 15px;
    width: 400px;
    font-family: "Montserrat";
    font-size: 20px;
    color: #ccc;
    z-index: 2;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    transform-origin: left bottom;
}
#chatwrap>p{
    line-height: 1.3em;
    margin: 0;
}
#chat_textbox{
    z-index: 12;
}
#btn-sendchat{
    position: absolute;
    z-index: 14;
    bottom: 9px;
    left: 275px;
}
/* APPPPP */
html, body{
    width: 100%;
    height: 100%;
    position: relative;
}
.on-stop #canvas{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.on-stop #controls{
    display: none!important;
    visibility: hidden;
    opacity: 0;
}
.on-stop #chat_textbox{
    z-index: 205;
}
.on-stop #btn-sendchat{
    z-index: 206;
}
button{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}
#overlays{
    background: transparent;
}
#controls{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 15;
    display: none;
}
#btn-feed{
    position: absolute;
    top:-150px;
    left: -80px;
}

#btn-split{
    position: absolute;
    top: -80px;
    left: -110px;
}

#controls img{
    width: 70px;
}
/* Mini Map */
.wrap-minimap{
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    position: absolute;
    top:0;
    left: 0;
}
#setka, #mini-map-wrapper, #mini-map-pos{
    top: 10px !important;
    left: 10px !important;
    right: auto !important;
    bottom: auto !important; 
}
#setka > table{
    background: rgba(0, 0, 0, 0.75) !important;
}
/**/
.wrap-mscore{
    font-family: "Montserrat";
    font-size: 24px;
    color: #fff;
    position: absolute;
    z-index: 1;
    top:5px;
    left: 0;
    padding-left: 180px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
}
#wrapstart{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
}
#wrapstart>img{
    position: absolute;
    left: -210px;
    top:-310px;
}
#wrapstart>button{
    position: absolute;
    left: -150px;
    top:120px;
}
