<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_blur_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,120},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>0_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,240},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>1_blur_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,120},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>1_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,0},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>2_blur_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,360},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>2_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,240},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>3_blur_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,360},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>3_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,0},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>4_blur_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>4_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>5_blur_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

			<key>5_et.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{122,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,118}}</string>
				<key>sourceSize</key>
				<string>{122,118}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{372,480}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>