<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tayduky-spinification_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2948},{2,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2,2}}</string>
				<key>sourceSize</key>
				<string>{2,2}</string>
			</dict>

			<key>tayduky-spinification_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,990},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,494},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,988},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,0},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2684,1482},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2684,988},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2418,494},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2418,0},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2416,1974},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2416,1480},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{2150,988},{268,492}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,492}}</string>
				<key>sourceSize</key>
				<string>{268,492}</string>
			</dict>

			<key>tayduky-spinification_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2150,494},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2150,0},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{2148,1976},{268,492}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,492}}</string>
				<key>sourceSize</key>
				<string>{268,492}</string>
			</dict>

			<key>tayduky-spinification_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{2148,1482},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,494},{268,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,496}}</string>
				<key>sourceSize</key>
				<string>{268,496}</string>
			</dict>

			<key>tayduky-spinification_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,0},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,494},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,1978},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,1484},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,988},{268,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,496}}</string>
				<key>sourceSize</key>
				<string>{268,496}</string>
			</dict>

			<key>tayduky-spinification_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,494},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,0},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,1978},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,1484},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,988},{268,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,496}}</string>
				<key>sourceSize</key>
				<string>{268,496}</string>
			</dict>

			<key>tayduky-spinification_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,1980},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,0},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,1978},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,1484},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{270,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,496}}</string>
				<key>sourceSize</key>
				<string>{270,496}</string>
			</dict>

			<key>tayduky-spinification_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,496},{270,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,496}}</string>
				<key>sourceSize</key>
				<string>{270,496}</string>
			</dict>

			<key>tayduky-spinification_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,992},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1486},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1980},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1978},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,496},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,990},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1484},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1484},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,990},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,496},{270,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,494}}</string>
				<key>sourceSize</key>
				<string>{270,494}</string>
			</dict>

			<key>tayduky-spinification_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,0},{270,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,496}}</string>
				<key>sourceSize</key>
				<string>{270,496}</string>
			</dict>

			<key>tayduky-spinification_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{270,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,496}}</string>
				<key>sourceSize</key>
				<string>{270,496}</string>
			</dict>

			<key>tayduky-spinification_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,1484},{268,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,496}}</string>
				<key>sourceSize</key>
				<string>{268,496}</string>
			</dict>

			<key>tayduky-spinification_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,1978},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,1978},{268,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,496}}</string>
				<key>sourceSize</key>
				<string>{268,496}</string>
			</dict>

			<key>tayduky-spinification_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,494},{268,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,496}}</string>
				<key>sourceSize</key>
				<string>{268,496}</string>
			</dict>

			<key>tayduky-spinification_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,990},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,0},{268,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,494}}</string>
				<key>sourceSize</key>
				<string>{268,494}</string>
			</dict>

			<key>tayduky-spinification_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{2148,2468},{256,484}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,484}}</string>
				<key>sourceSize</key>
				<string>{256,484}</string>
			</dict>

			<key>tayduky-spinification_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2474},{244,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{244,474}}</string>
				<key>sourceSize</key>
				<string>{244,474}</string>
			</dict>

			<key>tayduky-spinification_053.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,2474},{232,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,462}}</string>
				<key>sourceSize</key>
				<string>{232,462}</string>
			</dict>

			<key>tayduky-spinification_054.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,2474},{220,452}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,452}}</string>
				<key>sourceSize</key>
				<string>{220,452}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2952,2952}</string>
			<key>textureFileName</key>
			<string>spinification.png</string>
			</dict>
		</dict>
</plist>