<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0-blur-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,0},{222,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,212}}</string>
				<key>sourceSize</key>
				<string>{222,212}</string>
			</dict>

			<key>0-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,868},{222,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,212}}</string>
				<key>sourceSize</key>
				<string>{222,212}</string>
			</dict>

			<key>1-blur-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,403},{212,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,198}}</string>
				<key>sourceSize</key>
				<string>{212,198}</string>
			</dict>

			<key>1-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,0},{212,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,198}}</string>
				<key>sourceSize</key>
				<string>{212,198}</string>
			</dict>

			<key>10-blur-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,472},{223,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,198}}</string>
				<key>sourceSize</key>
				<string>{223,198}</string>
			</dict>

			<key>10-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,670},{223,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,198}}</string>
				<key>sourceSize</key>
				<string>{223,198}</string>
			</dict>

			<key>2-blur-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,868},{217,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,191}}</string>
				<key>sourceSize</key>
				<string>{217,191}</string>
			</dict>

			<key>2-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,663},{217,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,191}}</string>
				<key>sourceSize</key>
				<string>{217,191}</string>
			</dict>

			<key>3-blur-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,472},{217,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,191}}</string>
				<key>sourceSize</key>
				<string>{217,191}</string>
			</dict>

			<key>3-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,212},{217,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,191}}</string>
				<key>sourceSize</key>
				<string>{217,191}</string>
			</dict>

			<key>4-blur-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,915},{218,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,192}}</string>
				<key>sourceSize</key>
				<string>{218,192}</string>
			</dict>

			<key>4-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,915},{218,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,192}}</string>
				<key>sourceSize</key>
				<string>{218,192}</string>
			</dict>

			<key>5-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,0},{230,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,236}}</string>
				<key>sourceSize</key>
				<string>{230,236}</string>
			</dict>

			<key>6-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,236},{230,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,236}}</string>
				<key>sourceSize</key>
				<string>{230,236}</string>
			</dict>

			<key>7-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,679},{230,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,236}}</string>
				<key>sourceSize</key>
				<string>{230,236}</string>
			</dict>

			<key>8-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,679},{230,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,236}}</string>
				<key>sourceSize</key>
				<string>{230,236}</string>
			</dict>

			<key>9-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,198},{194,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,194}}</string>
				<key>sourceSize</key>
				<string>{194,194}</string>
			</dict>

			<key>stickyWild-tayduky.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{295,679}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,679}}</string>
				<key>sourceSize</key>
				<string>{295,679}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{959,1107}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>