<div class="wrapper">
	<div class="canvas-wrap">
		<canvas id="mainCanvas"></canvas>
	</div>

	<div class="chat-wrap">
		<button class="btn-closeChat"></button>
		<div class="mes-list">
			<div class="mes-inner"></div>
		</div>

		<div class="form-input">
			<button class="btn-auto"></button>
			<button class="btn-emo"></button>
			<input type="text" name="" placeholder="nhập nội dung chat">
		</div>

		<div class="auto-wrap" style="display: none;">
			<div class="auto-list">
				<div class="item">Nhanh lên nào!</div>
				<div class="item">Đen vãi T.T</div>
				<div class="item">Xin lỗi đời quá đen</div>
				<div class="item">Sẵn sàng đi cưng</div>
				<div class="item">Nhục rồi</div>
				<div class="item">Chơi đi anh, ngại gì</div>
				<div class="item">Cho mượn tờ báo, lâu quá bạn ơi</div>
				<div class="item">Tiền thì anh không thiếu!!!</div>
				<div class="item">Từ từ Pa, làm gì máu vậy</div>
				<div class="item">Tài năng không có, thì khó tiến xa</div>
				<div class="item">Tài không đợi tuổi, hehe</div>
				<div class="item">Tuổi gì mà bắt</div>
				<div class="item">Quân tử trả thù 10 năm chưa muộn !!!</div>
				<div class="item">Chú còn non và xanh lắm</div>
			</div>
		</div>

		<div class="emo-wrap" style="display: none;">
			<div class="emo-list">
				<div class="item" data-emo="e_1"></div>
				<div class="item" data-emo="e_2"></div>
				<div class="item" data-emo="e_3"></div>
				<div class="item" data-emo="e_4"></div>
				<div class="item" data-emo="e_5"></div>
				<div class="item" data-emo="e_6"></div>
				<div class="item" data-emo="e_7"></div>
				<div class="item" data-emo="e_8"></div>
				<div class="item" data-emo="e_9"></div>
				<div class="item" data-emo="e_10"></div>
				<div class="item" data-emo="e_11"></div>
				<div class="item" data-emo="e_12"></div>
				<div class="item" data-emo="e_13"></div>
				<div class="item" data-emo="e_14"></div>
				<div class="item" data-emo="e_15"></div>
				<div class="item" data-emo="e_16"></div>
				<div class="item" data-emo="e_17"></div>
				<div class="item" data-emo="e_18"></div>
				<div class="item" data-emo="e_19"></div>
				<div class="item" data-emo="e_20"></div>
				<div class="item" data-emo="e_21"></div>
				<div class="item" data-emo="e_22"></div>
				<div class="item" data-emo="e_23"></div>
				<div class="item" data-emo="e_24"></div>
				<div class="item" data-emo="e_25"></div>
				<div class="item" data-emo="e_26"></div>
				<div class="item" data-emo="e_27"></div>
				<div class="item" data-emo="e_28"></div>
				<div class="item" data-emo="e_29"></div>
			</div>
		</div>
	</div>

	<div id="topHu-container" style="display: none;"></div>
</div>