<div class="wrapper">
	<div class="form-wrapper">
		<img src="images/logo-medium.png"/>

		<div class="form-inner">
			<h1>ĐĂNG KÝ TÀI KHOẢN</h1>
			<p class="msg-error"></p>
			<div class="form-group">
				<input type="text" name="username" placeholder="Tên tài khoản"/>
			</div>

			<div class="form-group">
				<input type="password" name="password" placeholder="Mật khẩu"/>
			</div>

			<div class="form-group">
				<input type="password" name="repassword" placeholder="Nhập lại mật khẩu"/>
			</div>

			<div class="form-group">
				<input class="input-capcha" type="text" name="" placeholder="Mã xác nhận"/>
				<div class="capcha-wrap">
					<img src="images/capcha.png"/>
					<button class="btn-refreshCapcha"><img src="images/icon-refresh.png"/></button>
				</div>
			</div>

			<div class="form-group">
				<label>
					<input type="checkbox" name=""/>
					Đồng ý với điều khoản sử dụng tài khoản
				</label>
			</div>

			<button id="btn-submitSignup">Đăng ký</button>
		</div>

		<div class="social-login">
			<p>Hoặc đăng nhập bằng</p>
			<button class="btn-login-facebook">
				<img src="images/icon-facebook.png"/>
			</button>

			<button class="btn-login-google">
				<img src="images/icon-googleplus.png"/>
			</button>
		</div>
	</div>
</div>