<div class="wrapper" game="TAMGIOI">
	<div class="item-wrap">
		<div class="item-inner">
			<div class="game-header">
				<button class="btn-back">
					<img src="images/minigame/btn-back.png">
				</button>
				<div class="sodu">
					Số dư: <span class="num">86,000,000</span>
				</div>
				<div class="logo logo-tamgioi"></div>
				<div class="quy-num">234,567,890</div>
			</div>
			<canvas id="slotCanvas"></canvas>
		</div>
	</div>
	<div class="item-wrap item-chienthuat">
		<div class="item-inner">
			<div class="t-money">78.258.268</div>
		</div>
	</div>
	<div class="item-wrap">
		<div class="item-inner">
			<div class="list-dong">
				<div class="item item1">
					<div class="inner">
						<img src="images/minigame/1chondong.png" class="on">
						<img src="images/minigame/1chondong_on.png">
					</div>
				</div>
				<div class="item item2">
					<div class="inner">
						<img src="images/minigame/2chondong.png" class="on">
						<img src="images/minigame/2chondong_on.png">
					</div>
				</div>
				<div class="item item3">
					<div class="inner">
						<img src="images/minigame/3chondong.png" class="on">
						<img src="images/minigame/3chondong_on.png">
					</div>
				</div>
				<div class="item item4">
					<div class="inner">
						<img src="images/minigame/4chondong.png" class="on">
						<img src="images/minigame/4chondong_on.png">
					</div>
				</div>
				<div class="item item5">
					<div class="inner">
						<img src="images/minigame/5chondong.png" class="on">
						<img src="images/minigame/5chondong_on.png">
					</div>
				</div>
				<div class="item item6">
					<div class="inner">
						<img src="images/minigame/6chondong.png" class="on">
						<img src="images/minigame/6chondong_on.png">
					</div>
				</div>
				<div class="item item7">
					<div class="inner">
						<img src="images/minigame/7chondong.png" class="on">
						<img src="images/minigame/7chondong_on.png">
					</div>
				</div>
				<div class="item item8">
					<div class="inner">
						<img src="images/minigame/8chondong.png" class="on">
						<img src="images/minigame/8chondong_on.png">
					</div>
				</div>
				<div class="item item9">
					<div class="inner">
						<img src="images/minigame/9chondong.png" class="on">
						<img src="images/minigame/9chondong_on.png">
					</div>
				</div>
				<div class="item item10">
					<div class="inner">
						<img src="images/minigame/10chondong.png" class="on">
						<img src="images/minigame/10chondong_on.png">
					</div>
				</div>
				<div class="item item11">
					<div class="inner">
						<img src="images/minigame/11chondong.png" class="on">
						<img src="images/minigame/11chondong_on.png">
					</div>
				</div>
				<div class="item item12">
					<div class="inner">
						<img src="images/minigame/12chondong.png" class="on">
						<img src="images/minigame/12chondong_on.png">
					</div>
				</div>
				<div class="item item13">
					<div class="inner">
						<img src="images/minigame/13chondong.png" class="on">
						<img src="images/minigame/13chondong_on.png">
					</div>
				</div>
				<div class="item item14">
					<div class="inner">
						<img src="images/minigame/14chondong.png" class="on">
						<img src="images/minigame/14chondong_on.png">
					</div>
				</div>
				<div class="item item15">
					<div class="inner">
						<img src="images/minigame/15chondong.png" class="on">
						<img src="images/minigame/15chondong_on.png">
					</div>
				</div>
				<div class="item item16">
					<div class="inner">
						<img src="images/minigame/16chondong.png" class="on">
						<img src="images/minigame/16chondong_on.png">
					</div>
				</div>
				<div class="item item17">
					<div class="inner">
						<img src="images/minigame/17chondong.png" class="on">
						<img src="images/minigame/17chondong_on.png">
					</div>
				</div>
				<div class="item item18">
					<div class="inner">
						<img src="images/minigame/18chondong.png" class="on">
						<img src="images/minigame/18chondong_on.png">
					</div>
				</div>
				<div class="item item19">
					<div class="inner">
						<img src="images/minigame/19chondong.png" class="on">
						<img src="images/minigame/19chondong_on.png">
					</div>
				</div>
				<div class="item item20">
					<div class="inner">
						<img src="images/minigame/20chondong.png" class="on">
						<img src="images/minigame/20chondong_on.png">
					</div>
				</div>
			</div>
		</div>
		<div class="group-button">
			<button class="btn-dongAll">Tất cả</button>
			<button class="btn-dongChan">Dòng chẵn</button>
			<button class="btn-dongLe">Dòng lẻ</button>
			<button class="btn-dongNone">Bỏ chọn</button>
		</div>
	</div>
	<div class="item-wrap">
		<div class="item-inner">
			<div class="chat-wrap">
				<div class="mes-list">
					<div class="mes-inner"></div>
				</div>

				<div class="form-input">
					<input type="text" name="" placeholder="nhập nội dung chat">
				</div>
			</div>
		</div>
	</div>
	<div class="item-wrap">
		<div class="item-inner">
			<div class="group-button">
				<button class="btn-vinhdanh active">Vinh Danh</button>
				<button class="btn-lichsuGD">Lịch sử GD</button>
				<button class="btn-lichsuHU">Lịch sử HŨ</button>
			</div>
			<div class="item-content">

			</div>
		</div>
	</div>
</div>
<div class="wrapper" game="SPARTA">
	<div class="sparta-main">
		<div class="sparta-timcuara sparta-div-timcuara" style="display: none;">
			<nav class="sparta-fire">
				<li style="cursor:pointer;" class="sparta-choncua1">
					<img src="images/sparta/fire.png" alt=""><br>
					<img src="images/sparta/x1.png" alt="" class="sparta-x heso" style="display: none;opacity: 0.5;">
				</li>
				<li style="cursor:pointer;" class="sparta-choncua2">
					<img src="images/sparta/fire.png" alt=""><br>
					<img src="images/sparta/x2.png" alt="" class="sparta-x heso" style="display: none;">
				</li>
				<li style="cursor:pointer;" class="sparta-choncua3">
					<img src="images/sparta/fire.png" alt=""><br>
					<img src="images/sparta/x5.png" alt="" class="sparta-x heso" style="display: none;opacity: 0.5;">
				</li>
			</nav>
			<img src="images/sparta/bg-cuara.png" alt="" class="sparta-bgcuara">
		</div>
		<div class="sparta-bgdark sparta-div-bonusgame" style="display: none;">
			<div class="sparta-minigame">
				<img src="images/sparta/text4.png" class="minigame-title minigame-title2">
				<nav class="sparta-vatpham" class="sparta-nav-bonusgame">

				</nav>
				<div>
					<span class="sparta-time-auto-bonus" style="display: none;">Tự động chơi sau: <span class="sparta-time-count-bonus">15s</span></span>
					<span class="sparta-point sparta-point-tongthang">0</span>
				</div>
				<img src="images/sparta/bg-popup1.png" alt="" class="sparta-bgpopup">
			</div>
		</div>
		<div class="sparta-bgdark sparta-div-nohu" style="display: none;">
			<div class="sparta-nohu">
				<nav class="sparta-numbernohu sparta-numbernohu zoomIn duration-sm animated" >

				</nav>
				<div class="sparta-textnohu zoomIn duration-sm animated" ><img src="images/sparta/hieuung/nohu.png" alt=""></div>
				<div class="sparta-hohu-img3 zoomIn duration-lg iteration-infinite iteration-2 animated" ><img src="images/sparta/hieuung/img1.png" alt=""></div>
				<div class="sparta-hohu-img2 zoomIn duration-md iteration-infinite iteration-5 animated" ><img src="images/sparta/hieuung/img2.png" alt=""></div>
				<div class="sparta-hohu-img1 zoomIn duration-sm iteration-infinite iteration-5 animated" ><img src="images/sparta/hieuung/img3.png" alt=""></div>
			</div>
		</div>
		<div class="sparta-bgdark sparta-div-effect-bonus" style="display: none;">
			<div class="sparta-win">
				<div class="sparta-infowin">
					<p>Xin chúc mừng</p>
					<p style="font-size: 19px;">BẠN VỪA TRÚNG BONUSGAME<br>TÌM CỔ VẬT</p>
				</div>
				<img src="images/sparta/bg-popup2.png" alt="" class="sparta-bgwin">
			</div>
		</div>
		<nav class="sparta-line-main" style="list-style: none;">
			<li style="display: none;" id="li_line1"><img src="images/sparta/line/1.png" alt=""></li>
			<li style="display: none;" id="li_line2"><img src="images/sparta/line/2.png" alt=""></li>
			<li style="display: none;" id="li_line3"><img src="images/sparta/line/3.png" alt=""></li>
			<li style="display: none;" id="li_line4"><img src="images/sparta/line/4.png" alt=""></li>
			<li style="display: none;" id="li_line5"><img src="images/sparta/line/5.png" alt=""></li>
			<li style="display: none;" id="li_line6"><img src="images/sparta/line/6.png" alt=""></li>
			<li style="display: none;" id="li_line7"><img src="images/sparta/line/7.png" alt=""></li>
			<li style="display: none;" id="li_line8"><img src="images/sparta/line/8.png" alt=""></li>
			<li style="display: none;" id="li_line9"><img src="images/sparta/line/9.png" alt=""></li>
			<li style="display: none;" id="li_line10"><img src="images/sparta/line/10.png" alt=""></li>
			<li style="display: none;" id="li_line11"><img src="images/sparta/line/11.png" alt=""></li>
			<li style="display: none;" id="li_line12"><img src="images/sparta/line/12.png" alt=""></li>
			<li style="display: none;" id="li_line13"><img src="images/sparta/line/13.png" alt=""></li>
			<li style="display: none;" id="li_line14"><img src="images/sparta/line/14.png" alt=""></li>
			<li style="display: none;" id="li_line15"><img src="images/sparta/line/15.png" alt=""></li>
			<li style="display: none;" id="li_line16"><img src="images/sparta/line/16.png" alt=""></li>
			<li style="display: none;" id="li_line17"><img src="images/sparta/line/17.png" alt=""></li>
			<li style="display: none;" id="li_line18"><img src="images/sparta/line/18.png" alt=""></li>
			<li style="display: none;" id="li_line19"><img src="images/sparta/line/19.png" alt=""></li>
			<li style="display: none;" id="li_line20"><img src="images/sparta/line/20.png" alt=""></li>
			<li style="display: none;" id="li_line21"><img src="images/sparta/line/21.png" alt=""></li>
			<li style="display: none;" id="li_line22"><img src="images/sparta/line/22.png" alt=""></li>
			<li style="display: none;" id="li_line23"><img src="images/sparta/line/23.png" alt=""></li>
			<li style="display: none;" id="li_line24"><img src="images/sparta/line/24.png" alt=""></li>
			<li style="display: none;" id="li_line25"><img src="images/sparta/line/25.png" alt=""></li>
		</nav>
		<a href=""><img src="images/sparta/help-btn.png" alt="" class="sparta-huongdan"></a>
		<div class="sparta-sodu">Số dư: <span>0</span></div>
		<div class="sparta-husao">Hũ: <span>0</span></div>
		<div class="sparta-bgdark" id="sparta_popup" style="display: none;">
			<div class="sparta-win">
				<div class="sparta-infowin">
					<p id="sparta_popup_title"></p>
					<p id="sparta_popup_content"></p>
				</div>
				<img src="images/sparta/bg-popup2.png" alt="" class="sparta-bgwin">
				<a href="javascript:SpartaGame.closePopupCommon();" id="sparta_close_popup"><img src="images/sparta/close-popup-btn.png" class="sparta-close-btn" style="right: 49px;"></a>
			</div>
		</div>
		<nav class="sparta-icons" id="sparta_canvas"></nav>
		<nav class="sparta-colum">
			<li>20</li>
			<li>8</li>
			<li>2</li>
			<li>14</li>
			<li>17</li>
			<li>7</li>
			<li>10</li>
			<li>23</li>
			<li>15</li>
			<li>9</li>
			<li>4</li>
			<li>3</li>
			<li>21</li>
		</nav>
		<nav class="sparta-colum">
			<li>18</li>
			<li>5</li>
			<li>12</li>
			<li>24</li>
			<li>6</li>
			<li>22</li>
			<li>1</li>
			<li>16</li>
			<li>11</li>
			<li>19</li>
			<li>13</li>
			<li>25</li>
		</nav>
	</div>
	<nav class="sparta-button">
		<li><a href="javascript:;" id="btn_chonPhong"><img src="images/sparta/muc-btn.png" alt=""><p>0</p></a></li>
		<li><a href="javascript:;" id="lines_sparta_select"><img src="images/sparta/dong-btn.png" alt=""><p>25</p></a></li>
		<li id="li_tongcuoc"><img src="images/sparta/bg-tongcuoc.png" alt=""><p>0</p></li>
		<li id="sparta-li-vuathang"><img src="images/sparta/bg-vuathang.png" alt=""><p>0</p><a href="" class="sparta-x2btn disable-btn">x2</a></li>
		<li><a href="javascript:;" id="btn_autoSpin"><img src="images/sparta/tuquay-btn.png" alt="" class="pulse"></a></li>
		<li><a href="javascript:;" id="btn_spin"><img src="images/sparta/quay-btn.png" alt="" class="pulse"></a></li>
	</nav>
	<div class="sparta-bangthuong">
		<a href=""><img src="images/sparta/choithu-btn.png" alt="" class="sparta-try"></a>
		<img src="images/sparta/bangthuong.png" alt="">
	</div>
	<div class="sparta-bottom">
		<div class="sparta-chondong">
			<nav class="sparta-line">
				<li id="sparta_so1" onclick="SpartaGame.onClickPacket(1)"><div class="sparta-dong sparta-dong-active sparta-dong1" ></div></li>
				<li id="sparta_so2" onclick="SpartaGame.onClickPacket(2)"><div class="sparta-dong sparta-dong-active sparta-dong2" ></div></li>
				<li id="sparta_so3" onclick="SpartaGame.onClickPacket(3)"><div class="sparta-dong sparta-dong-active sparta-dong3" ></div></li>
				<li id="sparta_so4" onclick="SpartaGame.onClickPacket(4)"><div class="sparta-dong sparta-dong-active sparta-dong4" ></div></li>
				<li id="sparta_so5" onclick="SpartaGame.onClickPacket(5)"><div class="sparta-dong sparta-dong-active sparta-dong5" ></div></li>
				<li id="sparta_so6" onclick="SpartaGame.onClickPacket(6)"><div class="sparta-dong sparta-dong-active sparta-dong6" ></div></li>
				<li id="sparta_so7" onclick="SpartaGame.onClickPacket(7)"><div class="sparta-dong sparta-dong-active sparta-dong7" ></div></li>
				<li id="sparta_so8" onclick="SpartaGame.onClickPacket(8)"><div class="sparta-dong sparta-dong-active sparta-dong8" ></div></li>
				<li id="sparta_so9" onclick="SpartaGame.onClickPacket(9)"><div class="sparta-dong sparta-dong-active sparta-dong9" ></div></li>
				<li id="sparta_so10" onclick="SpartaGame.onClickPacket(10)"><div class="sparta-dong sparta-dong-active sparta-dong10" ></div></li>
				<li id="sparta_so11" onclick="SpartaGame.onClickPacket(11)"><div class="sparta-dong sparta-dong-active sparta-dong11" ></div></li>
				<li id="sparta_so12" onclick="SpartaGame.onClickPacket(12)"><div class="sparta-dong sparta-dong-active sparta-dong12" ></div></li>
				<li id="sparta_so13" onclick="SpartaGame.onClickPacket(13)"><div class="sparta-dong sparta-dong-active sparta-dong13" ></div></li>
				<li id="sparta_so14" onclick="SpartaGame.onClickPacket(14)"><div class="sparta-dong sparta-dong-active sparta-dong14" ></div></li>
				<li id="sparta_so15" onclick="SpartaGame.onClickPacket(15)"><div class="sparta-dong sparta-dong-active sparta-dong15" ></div></li>
				<li id="sparta_so16" onclick="SpartaGame.onClickPacket(16)"><div class="sparta-dong sparta-dong-active sparta-dong16" ></div></li>
				<li id="sparta_so17" onclick="SpartaGame.onClickPacket(17)"><div class="sparta-dong sparta-dong-active sparta-dong17" ></div></li>
				<li id="sparta_so18" onclick="SpartaGame.onClickPacket(18)"><div class="sparta-dong sparta-dong-active sparta-dong18" ></div></li>
				<li id="sparta_so19" onclick="SpartaGame.onClickPacket(19)"><div class="sparta-dong sparta-dong-active sparta-dong19" ></div></li>
				<li id="sparta_so20" onclick="SpartaGame.onClickPacket(20)"><div class="sparta-dong sparta-dong-active sparta-dong20" ></div></li>
				<li id="sparta_so21" onclick="SpartaGame.onClickPacket(21)"><div class="sparta-dong sparta-dong-active sparta-dong21" ></div></li>
				<li id="sparta_so22" onclick="SpartaGame.onClickPacket(22)"><div class="sparta-dong sparta-dong-active sparta-dong22" ></div></li>
				<li id="sparta_so23" onclick="SpartaGame.onClickPacket(23)"><div class="sparta-dong sparta-dong-active sparta-dong23" ></div></li>
				<li id="sparta_so24" onclick="SpartaGame.onClickPacket(24)"><div class="sparta-dong sparta-dong-active sparta-dong24" ></div></li>
				<li id="sparta_so25" onclick="SpartaGame.onClickPacket(25)"><div class="sparta-dong sparta-dong-active sparta-dong25" ></div></li>
			</nav>
			<nav class="sparta-btndong">
				<li class="sparta-hold"><a href="javascript:SpartaGame.onClickPacketLe();" >Dòng lẻ</a></li>
				<li><a href="javascript:SpartaGame.onClickPacketChan();">Dòng chẵn</a></li>
				<li><a href="javascript:SpartaGame.onClickPacketAll();">Tất cả</a></li>
				<li><a href="javascript:SpartaGame.onClickRemoveSelectionpacket();">Bỏ chọn</a></li>
			</nav>
		</div>
		<div class="sparta-chat">
			<div id="content1" class="sparta-chatcontent">
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
                <p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi *** Lh 0938.10.10.89 [on the phone]</p>
			</div>
			<input type="text" placeholder="Nhập nội dung chat..." class="sparta-textboxchat">
			<a href="" class="sparta-iconchat"><i class="fa fa-commenting fa-lg" aria-hidden="true"></i></a>
		</div>
		<div class="sparta-vinhdanh">
			<ul class="tab-navbar">
				<li><a href="javascript:void(0)" class="tablink tab-color" onclick="openCity(event, 'vinhdanh');">Bảng vinh danh</a></li>
				<li><a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'giaodich');">Lịch sử giao dịch</a></li>
				<li><a href="javascript:void(0)" class="tablink" onclick="openCity(event, 'huvang');">Lịch sử hũ vàng</a></li>
			</ul>
			<div id="vinhdanh" class="active">
				<div id="content2" class="sparta-ptcontent">
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
					<p><span>trandang***:</span> [Hai Phong] *** *** Sll Đến Tận Nơi Lh 0938.10.10.89 [on the phone]</p>
				</div>
			</div>
			<div id="giaodich" class="active" style="display:none">
				<div id="content3" class="sparta-ptcontent">
					<table>
						<thead>
							<tr>
								<th>Phiên</th>
								<th>Thời gian</th>
								<th>Sao đặt</th>
								<th>Sao thắng</th>
								<th>Mô tả</th>
								<th>Chi tiết</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>249456</td>
								<td>12/05 20:45</td>
								<td>23.000</td>
								<td>120.000</td>
								<td>Nổ hũ</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>249456</td>
								<td>12/05 20:45</td>
								<td>23.000</td>
								<td>120.000</td>
								<td>Thắng lớn</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>249456</td>
								<td>12/05 20:45</td>
								<td>23.000</td>
								<td>120.000</td>
								<td>Nổ hũ</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>249456</td>
								<td>12/05 20:45</td>
								<td>23.000</td>
								<td>120.000</td>
								<td>Thắng</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>249456</td>
								<td>12/05 20:45</td>
								<td>23.000</td>
								<td>120.000</td>
								<td>Thắng lớn</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>249456</td>
								<td>12/05 20:45</td>
								<td>23.000</td>
								<td>120.000</td>
								<td>Thắng</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>249456</td>
								<td>12/05 20:45</td>
								<td>23.000</td>
								<td>120.000</td>
								<td>Thắng</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>249456</td>
								<td>12/05 20:45</td>
								<td>23.000</td>
								<td>120.000</td>
								<td>Thắng</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="huvang" class="active" style="display:none">
				<div id="content4" class="sparta-ptcontent">
					<table>
						<thead>
							<tr>
								<th>Thời gian</th>
								<th>Tài khoản</th>
								<th>Thắng hũ</th>
								<th>Chi tiết</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>12/05 20:45</td>
								<td>quyenlong8***</td>
								<td>120.000</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>12/05 20:45</td>
								<td>khaly1***</td>
								<td>120.000</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>12/05 20:45</td>
								<td>thang_ca***</td>
								<td>120.000</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>12/05 20:45</td>
								<td>0914803**</td>
								<td>120.000</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>12/05 20:45</td>
								<td>bachuadao1***</td>
								<td>120.000</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>12/05 20:45</td>
								<td>tuannghia061***</td>
								<td>120.000</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>12/05 20:45</td>
								<td>sangso***</td>
								<td>120.000</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
							<tr>
								<td>12/05 20:45</td>
								<td>thangvan***</td>
								<td>120.000</td>
								<td><a href="">Chi tiết</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper wrapper-daoca" game="DAOCA">
	<div class="slot-fish-island">
		<!-- slide-noti -->
		<div class="slide-noti">

		</div>

		<div class="thongbao-popup text-style popup-finish-bonus" style="top: 99px;color: white;left: 181px;display: none;">
			<div class="thongbao-popup-close"><img src="images/daoca/close_btn.png" alt="" /></div>
			<h3 class="text-style">THÔNG BÁO</h3>
			<p class="text-style">Bạn đã dành được <span class="money-win-bonus">200.000 vàng</span> trong lần đập sò vừa rồi.</p>
			<div class="thongbao-btn">
				<div>Đóng</div>
			</div>
		</div>

		<!-- ingame -->
		<div class="ingame-phong1 ingame-daoca" style="display: none;">
			<div class="fish-bonus" style="display: none;z-index: 20;">
				<!-- Bonus game 2 -->
				<div class="fish-ruongbau text-style" style="display: none;">
					<p style="color:white;"> Bạn đã dành được hòm kho báu. Click để khám phá nhé !</p>
					<p class="daoca-timeAutoOpenBonus" style="color:white; display: none;"> Tự dộng chọn sau <span class="daoca-timeAutoOpenBonus-contdown">15s</span></p>
					<ul>
						<li class="daoca_ruongbau1" name="1">
							<img src="images/daoca/ruong_a.png" alt="" />
							<p style="display: none;">20.000</p>
						</li>
						<li class="daoca_ruongbau2" name="2">
							<img src="images/daoca/ruong_a.png" alt="" />
							<p style="display: none;">20.000</p>
						</li>
						<li class="daoca_ruongbau3" name="3">
							<img src="images/daoca/ruong_a.png" alt="" />
							<p style="display: none;">20.000</p>
						</li>
						<li class="daoca_ruongbau4" name="4">
							<img src="images/daoca/ruong_a.png" alt="" />
							<p style="display: none;">20.000</p>
						</li>
						<li class="daoca_ruongbau5" name="5">
							<img src="images/daoca/ruong_a.png" alt="" />
							<p style="display: none;">20.000</p>
						</li>
					</ul>
				</div>
				<!--  -->
				<span class="daoca_tudong_span" style="display: none;    top: 25px;
    position: absolute;
    left: 15px;">
					<span style="display: inline-block;
						margin-left: 22px;
						font-size: 19px;
						margin-top: 7px;
						color: white;
						font-family: 'BalooBhaina-Regular', cursive;">Tự động sau : </span>

					<span style="display: inline-block;margin-left: 10px;
						font-size: 19px;
						margin-top: 7px;
						color: #ffce4b;
						font-family: 'BalooBhaina-Regular', cursive;width: 36px;" class="daoca_tudong_span_time">15s</span>
				</span>
				<img src="images/daoca/dapso_title.png" alt="" />
				<!--<div class="fish-bonus-close">-->
					<!--<img src="images/daoca/close_btn.png" alt="" />-->
				<!--</div>-->
				<div class="fish-bonus-info text-style">
					<ul>
						<li style="color:white;">Vàng đập sò : <span class="daoca_vangdapso">0</span></li>
						<li style="color:white;">Hệ số : <span class="daoca_hesodapso">x1</span></li>
						<li style="color:white;">Số lần còn lại : <span class="daoca_solanconlai_bonus">0</span></li>
					</ul>
				</div>
				<div class="dapso-items daoca-dapso-items">
					<ul>
						<li class="daoca_dapso1">
							<img src="images/daoca/bonus_so.png" alt="" />
							<span class="money_dapso" style="display: none;">0</span>
						</li>
						<li class="daoca_dapso2"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso3"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso4"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso5"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso6"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso7"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso8"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso9"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso10"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso11"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso12"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso13"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso14"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso15"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso16"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso17"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso18"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso19"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso20"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso21"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso22"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso23"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
						<li class="daoca_dapso24"><img src="images/daoca/bonus_so.png" alt="" /><span class="money_dapso" style="display: none;">0</span></li>
					</ul>
				</div>
			</div>
			<!-- settings -->
			<div class="settings-btn text-style" style="display: none;">
				<ul>
					<li>
						<p>Âm thanh</p>
						<div class="select-icon select-icon-active"></div>
					</li>
					<li><p>Lịch sử nổ hũ </p></li>
					<li><p>Lịch sử giao dịch </p></li>
				</ul>
			</div>
			<!-- top-bar -->
			<div class="top-bar">
				<div class="back-btn hover-btn">
					<img src="images/daoca/back_icon.png" alt="">
				</div>
				<div class="coin-bar">
					<img src="images/daoca/coin_ico.png" alt="">
					<p class="text-style ">45.000.123</p>
					<div class="btn-napthe hover-btn">
						<img src="images/daoca/plus_coin.png" alt="">
					</div>
				</div>
				<div class="title-room">
					<img src="images/daoca/phong_title.png" alt="">
				</div>
				<div class="hu-room">
					<img src="images/daoca/hu_icon.png" alt="">
					<p class="text-style ">45.000.123</p>
				</div>
				<div class="vinhdanh-setting-btn">
					<img class="hover-btn" src="images/daoca/vinhdanh_icon.png" alt="">
					<img class="hover-btn" src="images/daoca/setting_icon.png" alt="">
				</div>
			</div>
			<!-- game -->
			<div class="main-game">
				<!-- linesang -->
				<div class="left-dong">
					<div class="number-dong" id="daoca_linenum6">
						<p class="text-style">6</p>
						<img src="images/daoca/6.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum1">
						<p class="text-style">1</p>
						<img src="images/daoca/1.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum8">
						<p class="text-style">8</p>
						<img src="images/daoca/8.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum5">
						<p class="text-style">5</p>
						<img src="images/daoca/5.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum2">
						<p class="text-style">2</p>
						<img src="images/daoca/2.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum4">
						<p class="text-style">4</p>
						<img src="images/daoca/4.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum10">
						<p class="text-style">10</p>
						<img src="images/daoca/10.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum7">
						<p class="text-style">7</p>
						<img src="images/daoca/7.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum3">
						<p class="text-style">3</p>
						<img src="images/daoca/3.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum9">
						<p class="text-style">9</p>
						<img src="images/daoca/9.png" alt="" />
					</div>
				</div>
				<!-- choithu -->
				<div class="choithu-mode text-style" style="display: none">
					<p>Chơi thử</p>
					<p style="color:#ffce4b;" class="daoca_sodu_choithu">0</p>
					<img src="images/daoca/coin_ico.png" alt="" />
				</div>
				<!-- luot quay mien phi-->
				<div class="quaymp-mode text-style daoca-quaymienphi" style="display: none;">
					<p>Lượt quay miễn phí</p>
					<p style="color: #ffce4b;" class="daoca-soluotfree">20</p>
				</div>
				<!-- left-phai -->
				<div class="left-dong right-dong">
					<div class="number-dong" id="daoca_linenum16">
						<p class="text-style">16</p>
						<img src="images/daoca/16.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum12">
						<p class="text-style">12</p>
						<img src="images/daoca/12.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum19">
						<p class="text-style">19</p>
						<img src="images/daoca/19.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum14">
						<p class="text-style">14</p>
						<img src="images/daoca/14.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum13">
						<p class="text-style">13</p>
						<img src="images/daoca/13.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum17">
						<p class="text-style">17</p>
						<img src="images/daoca/17.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum18">
						<p class="text-style">18</p>
						<img src="images/daoca/18.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum15">
						<p class="text-style">15</p>
						<img src="images/daoca/15.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum11">
						<p class="text-style">11</p>
						<img src="images/daoca/11.png" alt="" />
					</div>
					<div class="number-dong" id="daoca_linenum20">
						<p class="text-style">20</p>
						<img src="images/daoca/20.png" alt="" />
					</div>
				</div>
				<!-- items -->
				<div class="items-slot">
					<div id="daoca_canvas">

					</div>
				</div>


				<!-- bottom-bar -->
				<div class="bottom-bar">
					<div class="huongdan-btn">
						<img src="images/daoca/chamhoi.png" alt="">
					</div>
					<div class="mucphong-btn text-style">
						<p>Phòng</p>
						<span style="color: #ffce4b;">10.000</span>
					</div>
					<div class="dong-btn text-style">
						<p>Dòng</p>
						<span style="color: #ffce4b;">20</span>
					</div>
					<div class="info-cuoc text-style">
						<ul>
							<li>
								<p>Vàng thắng</p>
								<p style="color: #ffce4b;" class="daoca-money-just-win">45.012</p>
							</li>
							<li>
								<p>Tổng cược</p>
								<p style="color:#ffce4b;">200.000</p>
							</li>
						</ul>
					</div>

					<div class="tuquay-btn hover-btn daoca-btntuquay">
					</div>
					<div class="dung-btn hover-btn daoca-btndungtuquay" style="display: none;">
					</div>

					<div class="quay-btn hover-btn daoca-btnquay">
					</div>

				</div>
			</div>
		</div>

		<div class="lobby lobby-daoca">
			<!-- top-bar -->
			<div class="top-bar">
				<div class="back-btn hover-btn">
					<img src="images/daoca/back_icon.png" alt="">
				</div>
				<div class="coin-bar">
					<img src="images/daoca/coin_ico.png" alt="">
					<p class="text-style ">45.000.123</p>
					<div class="btn-napthe hover-btn">
						<img src="images/daoca/plus_coin.png" alt="">
					</div>
				</div>
				<div class="title-room">
					<img src="images/daoca/logo.png" alt="">
				</div>
				<div class="hu-room">
					<img src="images/daoca/hu_icon.png" alt="">
					<p class="text-style ">45.000.123</p>
				</div>
				<div class="vinhdanh-setting-btn">
					<img class="hover-btn" src="images/daoca/vinhdanh_icon.png" alt="">
					<img class="hover-btn" src="images/daoca/setting_icon.png" alt="">
				</div>
			</div>
			<!-- phong-->
			<div class="dsphong text-style">
				<div id="daoca_choithu"><img src="images/daoca/choithu.png" alt="" />
				</div>
				<div id="daoca_phong1"><img src="images/daoca/ruaxanh.png" alt="" />
					<span>500.000</span></div>
				<div id="daoca_phong2"><img src="images/daoca/camap.png" alt="" />
					<span>5.000.000</span></div>
				<div id="daoca_phong3"><img src="images/daoca/tienca.png" alt="" />
					<span>50.000.000</span></div>
			</div>
		</div>

		<!-- bang thuong -->
		<div class="bangthuong text-style">
			<div class="hu-phongs">
				<ul>
					<li>
						<img src="images/daoca/hu_icon.png" alt="">
						<p>TIÊN CÁ</p>
						<span>56.012.456</span>
					</li>
					<li>
						<img src="images/daoca/hu_icon.png" alt="">
						<p>CÁ MẬP</p>
						<span>6.452.546</span>
					</li>
					<li>
						<img src="images/daoca/hu_icon.png" alt="">
						<p>RÙA XANH</p>
						<span>512.456</span>
					</li>
				</ul>
			</div>
			<img src="images/daoca/bangthuong_tienca.png" alt="">


		</div>
		<!-- line-bkg -->
		<div class="line-select">
			<ul>
				<li><img src="images/daoca/line1.png" alt=""></li>
				<li><img src="images/daoca/line2.png" alt=""></li>
				<li><img src="images/daoca/line3.png" alt=""></li>
				<li><img src="images/daoca/line4.png" alt=""></li>
				<li><img src="images/daoca/line5.png" alt=""></li>
				<li><img src="images/daoca/line6.png" alt=""></li>
				<li><img src="images/daoca/line7.png" alt=""></li>
				<li><img src="images/daoca/line8.png" alt=""></li>
				<li><img src="images/daoca/line9.png" alt=""></li>
				<li><img src="images/daoca/line10.png" alt=""></li>
				<li><img src="images/daoca/line11.png" alt=""></li>
				<li><img src="images/daoca/line12.png" alt=""></li>
				<li><img src="images/daoca/line13.png" alt=""></li>
				<li><img src="images/daoca/line14.png" alt=""></li>
				<li><img src="images/daoca/line15.png" alt=""></li>
				<li><img src="images/daoca/line16.png" alt=""></li>
				<li><img src="images/daoca/line17.png" alt=""></li>
				<li><img src="images/daoca/line18.png" alt=""></li>
				<li><img src="images/daoca/line19.png" alt=""></li>
				<li><img src="images/daoca/line20.png" alt=""></li>
			</ul>
			<div class="line-btn text-style">
				<div class="hover-btn">Dòng lẻ</div>
				<div class="hover-btn">Dòng chẵn</div>
				<div class="hover-btn">Tất cả</div>
				<div class="hover-btn">Bỏ chọn</div>
			</div>
		</div>
		<!-- line-bkg -->
		<div class="chat text-style ">


			<div class="chat-mess  mCustomScrollbar">
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ??? game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
				<p><span>1chunhox :</span> game nay la game dao ca dung ko ???</p>
			</div>

			<div class="chat-input text-style">
				<input class="text-style" type="text" placeholder="Chat gi đó....">
				<img class="hover-btn" src="images/daoca/gui.png" alt="">
			</div>
		</div>
		<!-- line-bkg -->
		<div class="vinhdanh text-style">
			<div class="vinhdanh-content">
				<div class="vinhdanh-pin">
					<p><span>chimsedinang</span> NỔ HŨ PHÒNG TIÊN CÁ TRỊ GIÁ <span>80.000.889</span> VÀO LÚC 24:343:3</p>
					<p><span>comgaoaa</span> NỔ HŨ PHÒNG TIÊN CÁ TRỊ GIÁ <span>80.000.889</span> VÀO LÚC 24:343:3</p>
				</div>
				<div class="vinhdanh-slide mCustomScrollbar">
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
					<p><span>jOHADAKA</span> nổ hũ phòng tiên cá trị giá <span>80.000.880</span> vào lucs 24:343:3</p>
				</div>
			</div>
		</div>

	</div>
</div>