<div class="wrapper">
	<div class="top-news">
		<div class="main-notify">
			<div class="notify-inner"></div>
		</div>
	</div>

	<div id="topHu-container" style="top: 218px;left: 24px;position: absolute;"></div>

	<div class="game-title" style="position: absolute;top: 152px;left: 56px;">
		<img src="images/page-game/title.png">
	</div>

	
	<div class="table-wrap select-table-left">
		<img src="images/page-game/khung.png" style="position: absolute;z-index: -1;top: -27px;left: -24px;">
	    <div class="table-header">
	        <div>Bàn</div>
	        <div>Mức cược</div>
	        <div>Số người chơi</div>
	        <div>Tối thiểu</div>
	        <div>Trạng thái</div>
	    </div>
	    <div class="table-inner"></div>
	</div>

	<div class="control-right">
		<img src="images/page-game/bgbutton.png" style="position: absolute;z-index: -1;top: 162px;left: 370px;">
		<button class="btn-getTable get-table-chip">Bàn thường</button>
		<button class="btn-getTable get-table-gold" id="btn-getTableGold">Bàn VIP</button>
		<button id="btn-createTable" style="top: 162px;left: 1004px;"><img src="images/page-game/btn-create-table.png"/></button>

		<button id="btn-reloadTable" style="top: 168px;left: 837px;"><img src="images/page-game/btn-reloadTable.png"/></button>

		<label>
			<input type="checkbox" name=""/>
			<div></div>
			Ẩn bàn đủ người
		</label>
	</div>

</div>