<div class="wrapper">
	<div class="content-home-logged">
		<div class="top-news">
			<div class="main-notify">
				<div class="notify-inner"></div>
			</div>
		</div>

		<div class="wrap-sukien">
			<div class="sukien-content">
				<div class="item">
					<a href="javascript:void(0)"><img src="images/sukien/default.png"></a>
				</div>
			</div>
		</div>

		<div id="topHu-container" style="top: 136px;left: 0px;position: absolute;"></div>

		<div class="game-list">
			<div class="list-item">
				<button class="btn-cover" data-id="TAIXIU">
					<img src="images/gameicon/taixiu0.png">
					<img src="images/gameicon/taixiu1.png" style="position: absolute;top: 99px;left: 28px;">
					<img src="images/gameicon/taixiu2.png" style="position: absolute;top: 93px;left: 84px;">
					<span class="hu-tai"></span>
					<span class="hu-xiu"></span>
				</button>

				<button class="btn-cover" data-id="MINIPOKER">
					<img src="images/gameicon/mnp0.png">
					<img src="images/gameicon/mnp1.png" style="position: absolute;top: 73px;left: 18px;">
					<img src="images/gameicon/mnp2.png" style="position: absolute;top: 102px;left: 27px;">
					<span class="hu-100"></span>
					<span class="hu-1K"></span>
					<span class="hu-10K"></span>
				</button>
			</div>

			<div class="list-item">
				<button class="btn-cover" data-id="TPS">
					<img src="images/gameicon/gems0.png">
					<img src="images/gameicon/gems1.png" style="position: absolute;top: 77px;left: 29px;">
					<img src="images/gameicon/gems2.png" style="position: absolute;top: 105px;left: 60px;">
				</button>
				<button class="btn-cover" data-id="BAUCUA"><img src="images/gameicon/baucua.png"></button>
			</div>

			<div class="list-item">
				<button class="btn-cover" data-id="SIEUXE">
					<img src="images/gameicon/mcqueen0.png">
					<img src="images/gameicon/mcqueen1.png" style="position: absolute;top: 77px;left: 28px;">
					<img src="images/gameicon/mcqueen2.png" style="position: absolute;top: 105px;left: 26px;">
				</button>
				<button class="btn-cover" data-id="CAOTHAP"><img src="images/gameicon/caothap.png"></button>
			</div>
			<div class="list-item">
				<button class="btn-cover" data-id="DICEDICE" style="margin-top: -19px;">
					<img src="images/gameicon/dicedice.png">
					<span class="hu-100"></span>
					<span class="hu-1K"></span>
					<span class="hu-10K"></span>
				</button>
			</div>

			<div class="list-item">
				<button class="btn-cover" data-id="DEADORALIVE" style="margin-top: -5px;">
					<img src="images/gameicon/deadoralive.png">
					<span class="hu-100"></span>
					<span class="hu-1K"></span>
					<span class="hu-10K"></span>
				</button>
			</div>

			<div class="list-item">
				<button class="btn-cover" data-id="GOLDENMONKEY" style="margin-top: -8px;">
					<img src="images/gameicon/monkey.png">
					<span class="hu-100"></span>
					<span class="hu-1K"></span>
					<span class="hu-10K"></span>
				</button>
			</div>
			<div class="list-item"></div>
			<!-- <div class="list-item">
				<button class="btn-cover" data-id="PHOM"><img src="images/gameicon/phom.png"></button>
				<button class="btn-cover" data-id="SAM"><img src="images/gameicon/sam.png"></button>
			</div>
			<div class="list-item">
				<button class="btn-cover" data-id="CHAN"><img src="images/gameicon/chan.png"></button>
				<button class="btn-cover" data-id="XOCDIA"><img src="images/gameicon/xocdia.png"></button>
			</div>

			<div class="list-item">
				<button class="btn-cover" data-id="MAUBINH"><img src="images/gameicon/maubinh.png"></button>
				<button class="btn-cover" data-id="BACAY"><img src="images/gameicon/3cay.png"></button>
			</div>

			<div class="list-item">
				<button class="btn-cover" data-id="LIENG"><img src="images/gameicon/lieng.png"></button>
				<button class="btn-cover" data-id="TLMN">
					<img src="images/gameicon/tlmn0.png">
					<img src="images/gameicon/tlmn1.png" style="position: absolute;top: 91px;left: 22px;">
					<img src="images/gameicon/tlmn2.png" style="position: absolute;top: 126px;left: 51px;">
				</button>
			</div>

			<div class="list-item">
				<button class="btn-cover" data-id="XITO"><img src="images/gameicon/xito.png"></button>
				<button class="btn-cover" data-id="POKER"><img src="images/gameicon/poker.png"></button>
			</div> -->
		</div>
	</div>
</div>