<div class="wrapper">
	<button class="btn-cover btn-back" style="top:18px; left: 30px;"><img src="images/header/back.png"/></button>

	<div class="user-wrap">
		<div class="avatar"></div>
		<div class="info">
			<span class="user-name"></span>
			<span class="user-id"></span>
		</div>
	</div>

	<div class="money-wrap">
		<div class="gold-wrap">
			<span class="gold-num">0</span>
		</div>
	</div>

	<button class="btn-cover btn-naptien" style="top: 30px;left: 770px;"><img src="images/header/plus.png"></button>
	<!-- <button class="btn-cover btn-shop"><img src="images/btn_shop.png"></button> -->
	<button class="btn-cover btn-giftcode" style="top: 18px;left: 961px;"><img src="images/header/gift.png"></button>
	<button class="btn-cover btn-tinnhan" style="top: 35px;left: 1070px;"><img src="images/header/mail.png"><span class="new-count"></span></button>
	<!-- <button class="btn-cover btn-ketsat"><img src="images/btn-ketsat.png"></button> -->
	<button class="btn-cover btn-caidat" style="top: 36px;left: 1190px;"><img src="images/header/settings.png"></button>

	<img src="images/header/bg-logged.png" style="position: absolute;top: 0;left: 130px;z-index: -1;">
	<img src="images/header/bg-gold.png" style="position: absolute;top: 25px;left: 498px;z-index: -1;">
</div>
