<div class="wrapper">
	<button class="btn-cover btn-login-facebook" style="top: 21px;left: 310px;">
		<img src="images/icon-facebook.png">
	</button>

	<!-- <input type="text" name="" placeholder="Tên đăng nhập">
	<input type="password" name="" placeholder="Mật khẩu" autocomplete="off"> -->
	<button class="btn-cover btn-dangnhap" style="top: 17px;left: 609px;"><img src="images/btn-dangnhap2.png"></button>
	<button class="btn-cover btn-dangky" style="top: 24px;left: 412px;"><img src="images/btn-dangky2.png">
	</button>
	<button class="btn-cover btn-quenpass" style="top: 45px;left: 816px;"><img src="images/btn-quenmk.png"></button>
</div>