<div class="minigame-item item-baucua">
	<div class="item-content mhScaleLit">
		<!-- <div class="text-top">
			<img src="images/minigame/baucua/text-top.png">
		</div> -->

		<div class="clockS"></div>
		<div class="clockB"></div>
		<div class="phien">#0</div>
		<!-- <div class="info">Ấn xác nhận để hoàn tất!</div> -->

		<div class="control">
			<button class="btn-vinhdanh" style="top: 33px;left: 156px;">
				<img src="images/minigame/baucua/btn_vinhdanh.png">
			</button>

			<button class="btn-lichsu" style="top: 46px;left: 71px;">
				<img src="images/minigame/baucua/btn_info.png">
			</button>
			<button class="btn-huongdan" style="top: 109px;left: 5px;">
				<img src="images/minigame/baucua/btn_help.png">
			</button>
			<button class="btn-closeGame" style="top: 86px;left: 708px;">
				<img src="images/minigame/baucua/btn_close.png"/>
			</button>

			<div class="datcuoc-group">
				<button class="btn-datcuoc" style="top: 220px;left: -4px;">
					<img src="images/minigame/baucua/1k_off.png">
					<img src="images/minigame/baucua/1k_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 309px;left: -4px;">
					<img src="images/minigame/baucua/10k_off.png">
					<img src="images/minigame/baucua/10k_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 397px;left: 6px;">
					<img src="images/minigame/baucua/100k_off.png">
					<img src="images/minigame/baucua/100k_on.png">
				</button>
			</div>

			<div class="muccuoc-group">
				<button class="btn-muccuoc"></button>
				<button class="btn-muccuoc"></button>
				<button class="btn-muccuoc"></button>
				<button class="btn-muccuoc"></button>
				<button class="btn-muccuoc"></button>
			</div>

			<div class="group-button">
				<button class="btn-datlai">
					<img src="images/minigame/baucua/btn_dat-lai.png">
				</button>

				<button class="btn-gapthep">
					<img src="images/minigame/baucua/btn_gap-thep.png">
				</button>

				<button class="btn-xoa">
					<img src="images/minigame/baucua/btn_xoa.png">
				</button>

				<button class="btn-xacnhan">
					<img src="images/minigame/baucua/btn_xac-nhan.png">
				</button>

				<button class="btn-doicau">
					<img src="images/minigame/baucua/doicau.png">
				</button>
			</div>
		</div>

		<div class="cuadat">
			<div class="item" data-cid="4">
				<img src="images/minigame/baucua/ic_cua.png" style="left: 14px;">
				<div class="t-cuoc">3K</div>
				<div class="y-cuoc">0</div>
			</div>
			<div class="item" data-cid="2">
				<img src="images/minigame/baucua/ic_ca.png">
				<div class="t-cuoc">0</div>
				<div class="y-cuoc">0</div>
			</div>
			<div class="item" data-cid="3">
				<img src="images/minigame/baucua/ic_tom.png">
				<div class="t-cuoc">0</div>
				<div class="y-cuoc">0</div>
			</div>
			<div class="item" data-cid="5">
				<img src="images/minigame/baucua/ic_bau.png" style="left: 11px;">
				<div class="t-cuoc">0</div>
				<div class="y-cuoc">0</div>
			</div>

			<div class="item" data-cid="6">
				<img src="images/minigame/baucua/ic_huu.png" style="top: 21px;">
				<div class="t-cuoc">0</div>
				<div class="y-cuoc">1K</div>
			</div>
			<div class="item" data-cid="1">
				<img src="images/minigame/baucua/ic-ga.png">
				<div class="t-cuoc">0</div>
				<div class="y-cuoc">0</div>
			</div>
		</div>

		<div class="cau-wrap">
			<div class="cau-outer">
				<div class="cau-inner">
					<!-- <div class="item item-1"></div> -->
				</div>
			</div>
		</div>

		<div class="dice"></div>
		<img src="images/minigame/baucua/bkg3.png" style="position: absolute;top: 0;left: 0;z-index: -1;">
		<img src="images/minigame/baucua/bkg4.png" style="position: absolute;top: 152px;left: 767px;z-index: -1;">
	</div>
</div>