<div class="minigame-item item-sieuxe">
	<div class="item-content mhScaleLit">
		<div class="text-top">
			<img src="images/sieuxe/text-top.png" style="position: absolute;top: -164px;left: 43px;">
		</div>
		<div class="free-spin">Lượt Quay Miễn Phí: <span>0</span></div>
		<div class="quy-wrap">
			<div class="quy-inner">
				<span id="quy-number">0</span>
			</div>
		</div>
		<div class="control">
			<button class="btn-vinhdanh" style="top: 109px;left: 711px;">
				<img src="images/sieuxe/btn_vinhdanh.png">
			</button>
			<button class="btn-lichsu" style="top: 199px;left: 723px;">
				<img src="images/sieuxe/btn_info.png">
			</button>
			<button class="btn-huongdan" style="top: 290px;left: 723px;">
				<img src="images/sieuxe/btn_help.png">
			</button>

			<div class="moneytype-wrap">
				<label>
					<input type="checkbox" name="money-type" checked/>
					<span></span>
				</label>
			</div>

			<div class="datcuoc-group">
				<button class="btn-datcuoc active" style="top: 52px;left: -107px;">
					<img src="images/sieuxe/100_off.png"><img src="images/sieuxe/100_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 140px;left: -107px;">
					<img src="images/sieuxe/1k_off.png"><img src="images/sieuxe/1k_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 232px;left: -107px;">
					<img src="images/sieuxe/10k_off.png"><img src="images/sieuxe/10k_on.png">
				</button>
			</div>

			<div class="btn-group">
				<button class="btn-spin" style="top: 401px;left: 501px;">
					<img src="images/sieuxe/quay.png">
				</button>
				<button class="btn-speed" style="top: 365px;left: 12px;">
					<img src="images/sieuxe/sieutoc.png">
					<img src="images/sieuxe/sieutoc2.png">
				</button>
				<button class="btn-autoSpin" style="top: 365px;left: 209px;">
					<img src="images/sieuxe/tuquay.png">
					<img src="images/sieuxe/tuquay2.png">
				</button>
			</div>
		
		</div>

		<div class="draw-lines hide">
			<img src="images/sieuxe/line/line1.png">
			<img src="images/sieuxe/line/line2.png">
			<img src="images/sieuxe/line/line3.png">
			<img src="images/sieuxe/line/line4.png">
			<img src="images/sieuxe/line/line5.png">
			<img src="images/sieuxe/line/line6.png">
			<img src="images/sieuxe/line/line7.png">
			<img src="images/sieuxe/line/line8.png">
			<img src="images/sieuxe/line/line9.png">
			<img src="images/sieuxe/line/line10.png">
			<img src="images/sieuxe/line/line11.png">
			<img src="images/sieuxe/line/line12.png">
			<img src="images/sieuxe/line/line13.png">
			<img src="images/sieuxe/line/line14.png">
			<img src="images/sieuxe/line/line15.png">
			<img src="images/sieuxe/line/line16.png">
			<img src="images/sieuxe/line/line17.png">
			<img src="images/sieuxe/line/line18.png">
			<img src="images/sieuxe/line/line19.png">
			<img src="images/sieuxe/line/line20.png">
			<img src="images/sieuxe/line/line21.png">
			<img src="images/sieuxe/line/line22.png">
			<img src="images/sieuxe/line/line23.png">
			<img src="images/sieuxe/line/line24.png">
			<img src="images/sieuxe/line/line25.png">
			<img src="images/sieuxe/line/line26.png">
			<img src="images/sieuxe/line/line27.png">
		</div>

		<canvas id="canvasSieuxe" width="710" height="353"></canvas>

		<img src="images/sieuxe/bgmain12.png" style="position: absolute;z-index: -1;top: -100px;left: -75px;">
		<img src="images/sieuxe/bgmain13.png" style="position: absolute;z-index: -1;top: -80px;left: 452px;">
		<img src="images/sieuxe/nen.png" class="bg-cover2">
		<button class="close-minigame" style="top: -92px;left: 371px;">
			<img src="images/sieuxe/btn_close.png">
		</button>
	</div>
</div>