<div class="minigame-item item-minipoker">
	<div class="item-content mhScaleLit">
		<div class="text-top">
			<img src="images/minipoker/text-top.png" style="position: absolute;top: 22px;left: 135px;">
		</div>
		<div class="session">#0</div>
		<div class="sukien">
			<div class="item">
				<span class="sk-cuoc">100</span>
				<span class="sk-hu">10</span>
			</div>
			<div class="item">
				<span class="sk-cuoc">1K</span>
				<span class="sk-hu">16</span>
			</div>
		</div>

		<div class="free-spin">Lượt Quay Miễn Phí: <span>0</span></div>
		<div class="quy-wrap">
			<div class="quy-inner">
				<span id="quy-number"></span>
			</div>
		</div>
		<div class="control">
			<button class="btn-cover btn-vinhdanh" style="left: -14px;top: 166px;">
				<img src="images/minipoker/btn_vinhdanh.png">
			</button>
			<button class="btn-cover btn-lichsu" style="left: -8px;top: 259px;">
				<img src="images/minipoker/btn_info.png">
			</button>
			<button class="btn-cover btn-huongdan" style="left: -8px;top: 353px;">
				<img src="images/minipoker/btn_help.png">
			</button>
			<button class="btn-cover btn-closeMNP" style="top: 120px;left: 597px;">
				<img src="images/minipoker/btn_close.png">
			</button>

			<button class="btn-cover btn-spin" style="width:105px; height:260px; top: 164px;left: 694px;"></button>

			<button class="btn-cover btn-autospin" style="top: 387px;left: 553px;">
				<img src="images/minipoker/btn_tuquay0.png">
				<img src="images/minipoker/btn_tuquay1.png">
			</button>

			<button class="btn-cover btn-quaynhanh" style="top: 385px;left: 462px;">
				<img src="images/minipoker/btn_sieutoc0.png">
				<img src="images/minipoker/btn_sieutoc1.png">
			</button>

			<div class="moneytype-wrap">
				<label>
					<input type="checkbox" name="money-type" checked/>
					<span></span>
				</label>
			</div>

			<div class="datcuoc-group">
				<button class="btn-datcuoc active" style="top: 396px;left: 77px;">
					<img src="images/minipoker/100_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 396px;left: 200px;">
					<img src="images/minipoker/1k_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 396px;left: 323px;">
					<img src="images/minipoker/10k_on.png">
				</button>
			</div>
		
		</div>

		<div id="game-minipoker" class="end">
			<div class="card-list">
				<div class="card item1">
					<div class="card-inner" style="background-position: -221px -293px;"></div>
				</div>

				<div class="card item2">
					<div class="card-inner" style="background-position: -221px -439px;"></div>
				</div>

				<div class="card item3">
					<div class="card-inner" style="background-position: -773px -440px;"></div>
				</div>

				<div class="card item4">
					<div class="card-inner" style="background-position: -661px -293px;"></div>
				</div>
				
				<div class="card item5">
					<div class="card-inner" style="background-position: -441px -439px;"></div>
				</div>
			</div>
			<!-- <div class="effect">
				<span>+2.500</span>
			</div> -->
			<!-- <div class="effect thungphasanh">+1.000.000</div> -->
		</div>
		<img src="images/minipoker/bgmain3.png" style="position: absolute;z-index: -9999999;top: 147px;left: 7px;">

	</div>
</div>