<div class="minigame-item item-trungphucsinh">
	<div class="item-content mhScaleLit">
		<div class="text-top">
			<img src="images/minigame/tps/text-top.png" style="top: -3px;left: 112px;">
		</div>
		<div class="free-spin">Lượt Quay Miễn Phí: <span>9</span></div>
		<div class="quy-wrap">
			<div class="quy-inner">
				<span id="quy-number"></span>
			</div>
		</div>
		<div class="control">
			<button class="btn-vinhdanh" style="top: 200px;left: 452px;">
				<img src="images/minigame/tps/btn_vinhdanh.png">
			</button>
			<button class="btn-lichsu" style="top: 295px;left: 475px;">
				<img src="images/minigame/tps/btn_info.png">
			</button>
			<button class="btn-huongdan" style="top: 393px;left: 468px;">
				<img src="images/minigame/tps/btn_help.png">
			</button>

			<button class="close-minigame" style="top: 96px;left: 417px;">
				<img src="images/minigame/tps/btn_close.png">
			</button>

			<div class="moneytype-wrap">
				<label>
					<input type="checkbox" name="money-type" checked/>
					<span></span>
				</label>
			</div>

			<div class="datcuoc-group">
				<button class="btn-datcuoc active" style="left: -20px;top: 200px;">
					<img src="images/minigame/tps/100_off.png">
					<img src="images/minigame/tps/100_on.png">
				</button>
				<button class="btn-datcuoc" style="left: -27px;top: 296px;">
					<img src="images/minigame/tps/1k_off.png">
					<img src="images/minigame/tps/1k_on.png">
				</button>
				<button class="btn-datcuoc" style="left: -24px;top: 395px;">
					<img src="images/minigame/tps/10k_off.png">
					<img src="images/minigame/tps/10k_on.png">
				</button>
			</div>

			<div class="line-numb-wrap">
				<button class="btn-lineNum line1" style="margin-left: 10px;">1</button>
				<button class="btn-lineNum line2" style="margin-left: 6px;">2</button>
				<button class="btn-lineNum line3" style="margin-left: 3px;">3</button>
				<button class="btn-lineNum line4">4</button>
				<button class="btn-lineNum line5" style="margin-left: -1px;">5</button>
				<button class="btn-lineNum line6" style="margin-left: -2px;">6</button>
				<button class="btn-lineNum line7">7</button>
				<button class="btn-lineNum line8">8</button>
				<button class="btn-lineNum line9">9</button>
				<button class="btn-lineNum line10">10</button>
				<button class="btn-lineNum line11" style="margin-left: -8px;">11</button>
				<button class="btn-lineNum line12" style="margin-left: -5px;">12</button>
				<button class="btn-lineNum line13" style="margin-left: -2px;">13</button>
				<button class="btn-lineNum line14">14</button>
				<button class="btn-lineNum line15" style="margin-left: 2px;">15</button>
				<button class="btn-lineNum line16" style="margin-left: 2px;">16</button>
				<button class="btn-lineNum line17" style="margin-left: 3px;">17</button>
				<button class="btn-lineNum line18">18</button>
				<button class="btn-lineNum line19">19</button>
				<button class="btn-lineNum line20" style="margin-left: -3px;">20</button>
			</div>

			<div class="btn-group">
				<button class="btn-chooseLine" style="top: 512px;left: 49px;">
					<img src="images/minigame/tps/btn-chondong.png">
					<span>10</span>
				</button>
				<button class="btn-spin" style="top: 530px;left: 183px;">
					<img src="images/minigame/tps/btn-quay.png">
				</button>
				<button class="btn-autoSpin" style="top: 512px;left: 329px;">
					<img src="images/minigame/tps/btn-tuquay.png">
				</button>
			</div>
		
		</div>

		<div id="game-trungphucsinh">
			<div class="egg-effect">
				<div class="egg-col col-1">
					<div class="result-top">
						<img src="images/minigame/tps/items/1.png">
						<img src="images/minigame/tps/items/2.png">
						<img src="images/minigame/tps/items/3.png">
					</div>

					<div class="egg-cov"></div>

					<div class="result-bottom">
						<img src="images/minigame/tps/items/1.png">
						<img src="images/minigame/tps/items/2.png">
						<img src="images/minigame/tps/items/3.png">
					</div>

				</div>

				<div class="egg-col col-2">
					<div class="result-top">
						<img src="images/minigame/tps/items/1.png">
						<img src="images/minigame/tps/items/2.png">
						<img src="images/minigame/tps/items/3.png">
					</div>

					<div class="egg-cov"></div>

					<div class="result-bottom">
						<img src="images/minigame/tps/items/1.png">
						<img src="images/minigame/tps/items/2.png">
						<img src="images/minigame/tps/items/3.png">
					</div>
				</div>

				<div class="egg-col col-3">
					<div class="result-top">
						<img src="images/minigame/tps/items/1.png">
						<img src="images/minigame/tps/items/2.png">
						<img src="images/minigame/tps/items/3.png">
					</div>

					<div class="egg-cov"></div>

					<div class="result-bottom">
						<img src="images/minigame/tps/items/1.png">
						<img src="images/minigame/tps/items/2.png">
						<img src="images/minigame/tps/items/3.png">
					</div>
				</div>
			</div>

			<div class="notify">
				Đang quay !!! 
			</div>
		</div>

		<canvas id="lines-trungphucsinh" width="425" height="330"></canvas>

		<img src="images/minigame/tps/bgmain3.png" style="position: absolute;top: 66px;left: 0;z-index: -999999;">

		<div class="popup-chondong">
			<img src="images/minigame/tps/chondong/bg.png" class="bg">
			<div class="list-dong">
				<div class="item item1">
					<span>1.</span>
					<img src="images/minigame/tps/chondong/1.png">
				</div>
				<div class="item item2">
					<span>2.</span>
					<img src="images/minigame/tps/chondong/2.png">
				</div>
				<div class="item item3">
					<span>3.</span>
					<img src="images/minigame/tps/chondong/3.png">
				</div>
				<div class="item item4">
					<span>4.</span>
					<img src="images/minigame/tps/chondong/4.png">
				</div>
				<div class="item item5">
					<span>5.</span>
					<img src="images/minigame/tps/chondong/5.png">
				</div>
				<div class="item item6">
					<span>6.</span>
					<img src="images/minigame/tps/chondong/6.png">
				</div>
				<div class="item item7">
					<span>7.</span>
					<img src="images/minigame/tps/chondong/7.png">
				</div>
				<div class="item item8">
					<span>8.</span>
					<img src="images/minigame/tps/chondong/8.png">
				</div>
				<div class="item item9">
					<span>9.</span>
					<img src="images/minigame/tps/chondong/9.png">
				</div>
				<div class="item item10">
					<span>10.</span>
					<img src="images/minigame/tps/chondong/10.png">
				</div>
				<div class="item item11">
					<span>11.</span>
					<img src="images/minigame/tps/chondong/11.png">
				</div>
				<div class="item item12">
					<span>12.</span>
					<img src="images/minigame/tps/chondong/12.png">
				</div>
				<div class="item item13">
					<span>13.</span>
					<img src="images/minigame/tps/chondong/13.png">
				</div>
				<div class="item item14">
					<span>14.</span>
					<img src="images/minigame/tps/chondong/14.png">
				</div>
				<div class="item item15">
					<span>15.</span>
					<img src="images/minigame/tps/chondong/15.png">
				</div>
				<div class="item item16">
					<span>16.</span>
					<img src="images/minigame/tps/chondong/16.png">
				</div>
				<div class="item item17">
					<span>17.</span>
					<img src="images/minigame/tps/chondong/17.png">
				</div>
				<div class="item item18">
					<span>18.</span>
					<img src="images/minigame/tps/chondong/18.png">
				</div>
				<div class="item item19">
					<span>19.</span>
					<img src="images/minigame/tps/chondong/19.png">
				</div>
				<div class="item item20">
					<span>20.</span>
					<img src="images/minigame/tps/chondong/20.png">
				</div>
			</div>
			<div class="group-button">
				<button class="btn-dongChan">
					<img src="images/minigame/tps/chondong/chan.png">
				</button>
				<button class="btn-dongLe">
					<img src="images/minigame/tps/chondong/le.png">
				</button>
				<button class="btn-dongAll">
					<img src="images/minigame/tps/chondong/all.png">
				</button>
				<button class="btn-dongNone">
					<img src="images/minigame/tps/chondong/huy.png">
				</button>
			</div>

			<button class="close-chondong"><img src="images/minigame/tps/btn_close.png"></button>
		</div>
	</div>

	<div class="sukien">
		<!-- <div class="item">
			<span class="sk-cuoc">100</span><span class="sk-hu">10</span>
		</div> -->
	</div>

	<div class="event-baidep">
		<div class="wrap1">
			<p class="cm">
				Chuỗi hiện tại: <span class="count">0</span>
			</p>
			<p class="dm">
				Điểm cao: <span class="point">0</span>
			</p>
			<p class="xh">
				Hạng <span class="xephang">0</span>	
			</p>
			<p class="tm">(<span class="timer-cr">__:__</span>)</p>
		</div>
		<div class="wrap2">
			<span>KHUNG GIỜ TIẾP THEO</span>
			<span class="timer-next">__:__:__</span>
		</div>
		<img class="sk_text" src="images/chimdien/sukien/title.png">
	</div>
</div>