<div class="minigame-item item-caothap">
	<div class="item-content mhScaleLit">
		<div class="phien"></div>

		<div class="quy-wrap">
			<div class="quy-inner">
				<span class="quy-number"></span>
			</div>
		</div>

		<div class="card-wrap">
			<div class="card-inner">
				<div class="card run"></div>
			</div>
		</div>

		<div class="timmer"></div>

		<div class="a-list" data-num="2">
			<div class="item">A</div>
			<div class="item">A</div>
			<div class="item">A</div>
		</div>

		<div class="money-wrap">
			<div class="money-top" style="top: 180px;"></div>
			<div class="money-cr" style="top: 287px;"></div>
			<div class="money-bottom" style="top: 402px;"></div>
		</div>

		<div class="control">
			<button class="btn-vinhdanh" style="top: 129px;left: 648px;">
				<img src="images/minigame/caothap/btn_vinhdanh.png">
			</button>
			<button class="btn-lichsu" style="top: 224px;left: 660px;">
				<img src="images/minigame/caothap/btn_info.png">
			</button>
			<button class="btn-huongdan" style="top: 320px;left: 660px;">
				<img src="images/minigame/caothap/btn_help.png">
			</button>
			<button class="close-minigame" style="top: 64px;left: 580px;">
				<img src="images/minigame/caothap/btn_close.png">
			</button>
			<div class="datcuoc-group">
				<button class="btn-datcuoc active" style="top: 96px;left: 26px;">
					<img src="images/minigame/caothap/1k_off.png">
					<img src="images/minigame/caothap/1k_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 169px;left: -15px;">
					<img src="images/minigame/caothap/10k_off.png">
					<img src="images/minigame/caothap/10k_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 246px;left: -25px;">
					<img src="images/minigame/caothap/50k_off.png">
					<img src="images/minigame/caothap/50k_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 328px;left: -15px;">
					<img src="images/minigame/caothap/100k_off.png">
					<img src="images/minigame/caothap/100k_on.png">
				</button>
				<button class="btn-datcuoc" style="top: 400px;left: 23px;">
					<img src="images/minigame/caothap/500k_off.png">
					<img src="images/minigame/caothap/500k_on.png">
				</button>
			</div>

			<div class="btn-group">
				<button class="btn-up" style="top: 208px;left: 308px;">
					<img src="images/minigame/caothap/up_select.png">
				</button>
				<button class="btn-down" style="top: 335px;left: 308px;">
					<img src="images/minigame/caothap/down_select.png">
				</button>
				<button class="btn-luotmoi" style="top: 345px;left: 463px;">
					<img src="images/minigame/caothap/btn_luotmoi.png">
				</button>
				<button class="btn-start" style="top: 205px;left: 118px;">
					<img src="images/minigame/caothap/btn_play.png">
				</button>
			</div>
		</div>

		<div class="res-list">
			<div class="item co">8</div>
			<div class="item ro">9</div>
			<div class="item tep">Q</div>
			<div class="item bich">K</div>
			<div class="item co">A</div>
			<div class="item tep">Q</div>
			<div class="item bich">K</div>
			<div class="item co">A</div>
		</div>

		<div class="event-baidep">
			<div class="wrap1">
				<span class="timer-cr"></span>
				<span class="xephang"></span>
				<div class="card-list"></div>
			</div>
			<div class="wrap2">
				<span>KHUNG GIỜ TIẾP THEO</span>
				<span class="timer-next"></span>
			</div>
		</div>
		<img src="images/minigame/caothap/bg.png" class="bg-cover">
	</div>
</div>