<div class="wrapper" game="DICEDICEDICE">
    <div class="slot-wrap slot-dicedicedice">
        <div class="slot-wraptop">
            <button class="btn-back" style="top: 44px;left: 46px;">
                <img src="images/dicedicedice/lobby/btn_back.png">
            </button>
            <button class="btn-vinhdanh" style="top: 38px;left: 1583px;">
                <img src="images/dicedicedice/lobby/btn_bxh.png">
            </button>
            
            <button class="btn-caidat" style="top: 38px;left: 1757px;">
                <img src="images/dicedicedice/lobby/btn_caidat.png">
            </button>
            <div class="coin-wrap">
                <span class="coin"></span>
            </div>
            <div class="hu-wrap">
                <span class="coin"></span>
            </div>
        </div>
        <div class="slot-lobby">
            <div class="room0" style="top: 308px;left: 462px;">
                <img src="images/dicedicedice/lobby/p0.png">
                <span class="hu" style="top: 93px;">50.000.000</span>
            </div>
            <div class="room1" style="top: 496px;left: 454px;">
                <img src="images/dicedicedice/lobby/p100.png">
                <span class="hu" style="top: 77px;"></span>
            </div>
            <div class="room2" style="top: 636px;left: 454px;">
                <img src="images/dicedicedice/lobby/p1000.png">
                <span class="hu" style="top: 111px;"></span>
            </div>
            <div class="room3" style="top: 830px;left: 455px;">
                <img src="images/dicedicedice/lobby/p10000.png">
                <span class="hu" style="top: 88px;"></span>
            </div>
            <img src="images/dicedicedice/lobby/bg.png" style="position: absolute;top: 43px;left: 363px;">
        </div>
        <div class="slot-gameplay">
            <div class="session"></div>
            <div class="freespin-info">
                Lượt quay miễn phí còn lại: <span class="freespin-num">0</span>
            </div>
            <div class="game-control">
                <button class="btn-quay" style="top: 898px;left: 1253px;">
                    <img src="images/dicedicedice/play/btn_quay_0.png">
                </button>
                <button class="btn-autoSpin" style="top: 898px;left: 978px;">
                    <img src="images/dicedicedice/play/btn_tuquay.png">
                    <img src="images/dicedicedice/play/btn_dung.png">
                </button>
                <div class="group-btndong">
                    <div class="group-left">
                        <button data-num="6">
                            <img src="images/dicedicedice/play/number/6.png">
                        </button>
                        <button data-num="1">
                            <img src="images/dicedicedice/play/number/1.png">
                        </button>
                        <button data-num="8">
                            <img src="images/dicedicedice/play/number/8.png">
                        </button>
                        <button data-num="5">
                            <img src="images/dicedicedice/play/number/5.png">
                        </button>
                        <button data-num="2">
                            <img src="images/dicedicedice/play/number/2.png">
                        </button>
                        <button data-num="4">
                            <img src="images/dicedicedice/play/number/4.png">
                        </button>
                        <button data-num="10">
                            <img src="images/dicedicedice/play/number/10.png">
                        </button>
                        <button data-num="7">
                            <img src="images/dicedicedice/play/number/7.png">
                        </button>
                        <button data-num="3">
                            <img src="images/dicedicedice/play/number/3.png">
                        </button>
                        <button data-num="9">
                            <img src="images/dicedicedice/play/number/9.png">
                        </button> 
                    </div>

                    <div class="group-right">
                        <button data-num="16">
                            <img src="images/dicedicedice/play/number/16.png">
                        </button>
                        <button data-num="12">
                            <img src="images/dicedicedice/play/number/12.png">
                        </button>
                        <button data-num="19">
                            <img src="images/dicedicedice/play/number/19.png">
                        </button>
                        <button data-num="14">
                            <img src="images/dicedicedice/play/number/14.png">
                        </button>
                        <button data-num="13">
                            <img src="images/dicedicedice/play/number/13.png">
                        </button>
                        <button data-num="17">
                            <img src="images/dicedicedice/play/number/17.png">
                        </button>
                        <button data-num="18">
                            <img src="images/dicedicedice/play/number/18.png">
                        </button>
                        <button data-num="15">
                            <img src="images/dicedicedice/play/number/15.png">
                        </button>
                        <button data-num="11">
                            <img src="images/dicedicedice/play/number/11.png">
                        </button>
                        <button data-num="20">
                            <img src="images/dicedicedice/play/number/20.png">
                        </button>
                    </div>
                </div>
                <span class="num-tongdat"></span>
                <span class="num-vuathang">0</span>

                <button class="btn-muccuoc" bet="100" style="top: 900px;left: 414px;">
                    <img src="images/dicedicedice/play/p100.png">
                    <img src="images/dicedicedice/play/p1k.png">
                    <img src="images/dicedicedice/play/p10k.png">
                </button>

                <button class="chooseLine" style="top: 886px;left: 692px;">
                    <img src="images/dicedicedice/play/btn_dong.png">
                    <span class="num-lines"></span>
                </button>

                <button class="btn-help" style="top: 920px; left: 46px;">
                    <img src="images/dicedicedice/lobby/btn_help.png">
                </button>
            </div>
            <canvas id="slotCandyCanvas" width="980" height="468" style="touch-action: none; cursor: inherit;"></canvas>
            <div class="draw-lines"></div>
            <img src="images/dicedicedice/play/khung.png" class="khung-game">
            <div class="win-effect is-hide">
                <div class="type-jackpot">
                    <div class="winwrap">
                        <img src="images/dicedicedice/fx/coin.png">
                        <img src="images/dicedicedice/fx/light_3.png" class="animated tada infinite">
                        <img src="images/dicedicedice/fx/bg.png" class="nen">
                        <img src="images/dicedicedice/fx/text_nohu.png" class="title tada animated infinite">
                        <div class="numwrap">
                            <span data-text="+">+</span><span class="winnum">30.000</span>
                        </div>
                    </div>
                </div>
                <div class="type-bigwin">
                    <div class="winwrap">
                        <img src="images/dicedicedice/fx/light_3.png" class="animated tada infinite">
                        <img src="images/dicedicedice/fx/bg.png" class="nen">
                        <img src="images/dicedicedice/fx/text_thanglon.png" class="title bounce animated infinite">
                        <div class="numwrap">
                            <span data-text="+">+</span><span class="winnum">30.000</span>
                        </div>
                    </div>
                </div>
                <div class="type-freespin">
                    <div class="winwrap">
                        <img src="images/dicedicedice/fx/bg-sm.png" class="nen">
                        <img src="images/dicedicedice/fx/text_lqmp.png" class="title pulse animated infinite">
                    </div>
                </div>
                <div class="type-bonus">
                    <div class="winwrap">
                        <img src="images/dicedicedice/fx/bg-sm.png" class="nen">
                        <img src="images/dicedicedice/fx/text_bonusgame.png" class="title">
                    </div>
                </div>

                <div class="type-normal">
                    <div class="winwrap">
                        <div class="numwrap">
                            <span data-text="+">+</span><span class="winnum">30.000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shortnotice" style="display: none;">
                <img src="images/dicedicedice/play/notify.jpg">
                <span class="mess shake animated">AAAA</span>
            </div>
        </div>

        <div class="slot-popup slcaidat">
            <img src="images/dicedicedice/popup/bg_popup-sm.png" class="slpopup-bg">
            <img src="images/dicedicedice/popup/title_caidat.png" class="slpopup-title">
            <button class="btn-closePopup" style="top: 131px;left: 823px;">
                <img src="images/dicedicedice/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <label class="amthanh" style="top: 222px;">
                    <img src="images/dicedicedice/popup/check.png">
                    <img src="images/dicedicedice/popup/uncheck.png">
                    Âm thanh
                </label>
                <label class="lsgd" style="top: 350px;">Lịch sử giao dịch</label>
                <label class="lsh" style="top: 474px;">Lịch sử hũ</label>
            </div>
        </div>

        <div class="slot-popup slbangthuong">
            <img src="images/dicedicedice/popup/bg_popup.png" class="slpopup-bg">
            <img src="images/dicedicedice/popup/title_bangthuong.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/dicedicedice/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <img src="images/dicedicedice/popup/bangthuong_p.png">
            </div>
        </div>

        <div class="slot-popup slchondong">
            <img src="images/dicedicedice/popup/bg_popup.png" class="slpopup-bg">
            <img src="images/dicedicedice/popup/title_chondong.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/dicedicedice/popup/btn_close.png">
            </button>
            <div class="slpopup-content">
                <div class="lines">
                    <div class="item"><span>1.</span><button data-num="1"><img src="images/dicedicedice/popup/chon_dong/chon/1.png"></button></div>
                    <div class="item"><span>2.</span><button data-num="2"><img src="images/dicedicedice/popup/chon_dong/chon/2.png"></button></div>
                    <div class="item"><span>3.</span><button data-num="3"><img src="images/dicedicedice/popup/chon_dong/chon/3.png"></button></div>
                    <div class="item"><span>4.</span><button data-num="4"><img src="images/dicedicedice/popup/chon_dong/chon/4.png"></button></div>
                    <div class="item"><span>5.</span><button data-num="5"><img src="images/dicedicedice/popup/chon_dong/chon/5.png"></button></div>
                    <div class="item"><span>6.</span><button data-num="6"><img src="images/dicedicedice/popup/chon_dong/chon/6.png"></button></div>
                    <div class="item"><span>7.</span><button data-num="7"><img src="images/dicedicedice/popup/chon_dong/chon/7.png"></button></div>
                    <div class="item"><span>8.</span><button data-num="8"><img src="images/dicedicedice/popup/chon_dong/chon/8.png"></button></div>
                    <div class="item"><span>9.</span><button data-num="9"><img src="images/dicedicedice/popup/chon_dong/chon/9.png"></button></div>
                    <div class="item"><span>10.</span><button data-num="10"><img src="images/dicedicedice/popup/chon_dong/chon/10.png"></button></div>
                    <div class="item"><span>11.</span><button data-num="11"><img src="images/dicedicedice/popup/chon_dong/chon/11.png"></button></div>
                    <div class="item"><span>12.</span><button data-num="12"><img src="images/dicedicedice/popup/chon_dong/chon/12.png"></button></div>
                    <div class="item"><span>13.</span><button data-num="13"><img src="images/dicedicedice/popup/chon_dong/chon/13.png"></button></div>
                    <div class="item"><span>14.</span><button data-num="14"><img src="images/dicedicedice/popup/chon_dong/chon/14.png"></button></div>
                    <div class="item"><span>15.</span><button data-num="15"><img src="images/dicedicedice/popup/chon_dong/chon/15.png"></button></div>
                    <div class="item"><span>16.</span><button data-num="16"><img src="images/dicedicedice/popup/chon_dong/chon/16.png"></button></div>
                    <div class="item"><span>17.</span><button data-num="17"><img src="images/dicedicedice/popup/chon_dong/chon/17.png"></button></div>
                    <div class="item"><span>18.</span><button data-num="18"><img src="images/dicedicedice/popup/chon_dong/chon/18.png"></button></div>
                    <div class="item"><span>19.</span><button data-num="19"><img src="images/dicedicedice/popup/chon_dong/chon/19.png"></button></div>
                    <div class="item"><span>20.</span><button data-num="20"><img src="images/dicedicedice/popup/chon_dong/chon/20.png"></button></div>
                </div>

                <div class="controlBottom">
                    <button class="btn-chonChan"><img src="images/dicedicedice/popup/btn_dongchan.png"></button>
                    <button class="btn-chonLe"><img src="images/dicedicedice/popup/btn_dongle.png"></button>
                    <button class="btn-chonAll"><img src="images/dicedicedice/popup/btn_tatca.png"></button>
                    <button class="btn-chonNone"><img src="images/dicedicedice/popup/btn_bochon.png"></button>
                </div>
            </div>
        </div>

        <div class="slot-popup slminigame">
            <img src="images/dicedicedice/popup/bg_popup.png" class="slpopup-bg">
            <img src="images/dicedicedice/popup/title_minigame.png" class="slpopup-title">
            <div class="slpopup-content">
                <div class="wrap1" style="display: none;">
                    <span class="bn-timmer">15s</span>
                    <div class="w-xn">Hệ số: <span class="bn-xn">x3</span></div>
                    <div class="w-conlai">Số lần còn lại: <span class="conlai">0</span></div>
                    <div class="w-nhanduoc">Tiền nhận được: <span class="nhanduoc">500.000</span></div>

                    <div class="items">
                        <div class="item"><img src="images/dicedicedice/bonus/item.png"><img src="images/dicedicedice/bonus/item_on.png"><span>120.000</span></div>
                        <div class="item"><img src="images/dicedicedice/bonus/ruong.png"><img src="images/dicedicedice/bonus/key.png"><span>120.000</span></div>
                    </div>
                </div>
                <div class="wrap2">
                    <img src="images/dicedicedice/bonus/bg-moruong.png">
                    <div class="items-ruong">
                        <div class="item active"><img src="images/dicedicedice/bonus/ruong-lg.png"><img src="images/dicedicedice/bonus/ruong_on.png"><span>120.000</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slot-popup slvinhdanh">
            <img src="images/dicedicedice/popup/bg_popup.png" class="slpopup-bg">
            <img src="images/dicedicedice/popup/title_bangvinhdanh.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/dicedicedice/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <div class="table-header">
                    <div>Thời gian</div>
                    <div>Tài khoản</div>
                    <div>Phòng</div>
                    <div>Thắng</div>
                    <div>Mô tả</div>
                </div>
                <div class="table-content"><table><tbody></tbody></table></div>
                <div class="pagination"></div>
            </div>
        </div>

        <div class="slot-popup sllichsu">
            <img src="images/dicedicedice/popup/bg_popup.png" class="slpopup-bg">
            <img src="images/dicedicedice/popup/title_lscuoc.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/dicedicedice/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <div class="table-header">
                    <div>Thời gian</div>
                    <div>Phiên</div>
                    <div>Phòng</div>
                    <div>Trừ</div>
                    <div>Cộng</div>
                    <div>Mô tả</div>
                </div>
                <div class="table-content"><table><tbody></tbody></table></div>
                <div class="pagination"></div>
            </div>
        </div>

        <div class="slot-popup sllichsuhu">
            <img src="images/dicedicedice/popup/bg_popup.png" class="slpopup-bg">
            <img src="images/dicedicedice/popup/title_lshu.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/dicedicedice/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <div class="table-header">
                    <div>Thời gian</div>
                    <div>Phiên</div>
                    <div>Phòng</div>
                    <div>Trừ</div>
                    <div>Cộng</div>
                    <div>Mô tả</div>
                </div>
                <div class="table-content"><table><tbody></tbody></table></div>
                <div class="pagination"></div>
            </div>
        </div>


        <div class="slot-popup popupCommon">
            <img src="images/dicedicedice/popup/bg_popup-sm.png" class="slpopup-bg">
            <img src="images/dicedicedice/popup/title_thongbao.png" class="slpopup-title">
            <button class="btn-closePopup" style="top: 131px;left: 823px;">
                <img src="images/dicedicedice/popup/btn_close.png">
            </button>

            <div class="slpopup-content">Vui lòng đăng nhập để chơi</div>
        </div>
    </div>
    <div id="topHuGroup">
        <button class="btn-tophusl">
            <img src="images/dicedicedice/tophu.png">
            <img src="images/dicedicedice/tophu2.png">
        </button>
        <div id="topHu-container" style="display: none;"></div>
    </div>
    <script type="text/javascript">
        (function(){
            var myplay = new GameDiceDice();
        })();
    </script>
</div>