<div class="wrapper" game="DEADORALIVE">
    <div class="slot-wrap slot-deadoralive">
        <div class="slot-wraptop">
            <button class="btn-back">
                <img src="images/deadoralive/lobby/btn_back.png">
            </button>
            <button class="btn-vinhdanh">
                <img src="images/deadoralive/lobby/btn_bxh.png">
            </button>
            
            <button class="btn-caidat">
                <img src="images/deadoralive/lobby/btn_caidat.png">
            </button>
            <div class="coin-wrap">
            	<img src="images/deadoralive/lobby/bggold.png">
                <span class="coin"></span>
            </div>
            <div class="hu-wrap">
            	<img src="images/deadoralive/lobby/bghu.png">
                <span class="coin"></span>
            </div>
        </div>
        <div class="slot-lobby">
            <div class="room0" style="top: 606px;left: 306px;">
                <img src="images/deadoralive/lobby/p0.png">
            </div>
            <div class="room1" style="top: 166px;left: 88px;">
                <img src="images/deadoralive/lobby/p100.png">
                <span class="hu" style="left: 80px;"></span>
            </div>
            <div class="room2" style="top: 166px;left: 335px;">
                <img src="images/deadoralive/lobby/p1000.png">
                <span class="hu" style="left: 75px;"></span>
            </div>
            <div class="room3" style="top: 166px;left: 575px;">
                <img src="images/deadoralive/lobby/p10000.png">
                <span class="hu" style="left: 73px;"></span>
            </div>
            <img src="images/deadoralive/lobby/bg.png" style="position: absolute;top: 225px;left: 777px;" id="slCoverLobby">
        </div>
        <div class="slot-gameplay">
            <div class="session"></div>
            <div class="freespin-info">
                Lượt quay miễn phí còn lại: <span class="freespin-num">0</span>
            </div>
            <div class="game-control">
                <button class="btn-autoSpin" style="top: 655px;left: 472px;">
                    <img src="images/deadoralive/play/btn_tuquay.png">
                    <img src="images/deadoralive/play/btn_dung.png">
                </button>
                <button class="btn-quay" style="top: 622px;left: 652px;">
                    <img src="images/deadoralive/play/btn_quay_0.png">
                    <img src="images/deadoralive/play/btn_quay_1.png">
                </button>
                <div class="group-btndong">
                    <div class="group-left">
                    	<button data-num="5">
                            <img src="images/deadoralive/play/number/5.png">
                        </button>
                        <button data-num="9">
                            <img src="images/deadoralive/play/number/9.png">
                        </button>
                        <button data-num="11">
                            <img src="images/deadoralive/play/number/11.png">
                        </button>
                        <button data-num="10">
                            <img src="images/deadoralive/play/number/10.png">
                        </button>
                        <button data-num="4">
                            <img src="images/deadoralive/play/number/4.png">
                        </button>
                        <button data-num="12">
                            <img src="images/deadoralive/play/number/12.png">
                        </button>
                        <button data-num="1">
                            <img src="images/deadoralive/play/number/1.png">
                        </button>
                        <button data-num="3">
                            <img src="images/deadoralive/play/number/3.png">
                        </button>
                        <button data-num="6">
                            <img src="images/deadoralive/play/number/6.png">
                        </button>
                        <button data-num="7">
                            <img src="images/deadoralive/play/number/7.png">
                        </button>
                        <button data-num="2">
                            <img src="images/deadoralive/play/number/2.png">
                        </button>
                        <button data-num="8">
                            <img src="images/deadoralive/play/number/8.png">
                        </button>
                        <button data-num="13">
                            <img src="images/deadoralive/play/number/13.png">
                        </button>
                    </div>

                    <div class="group-right">
                        <button data-num="17">
                            <img src="images/deadoralive/play/number/17.png">
                        </button>
                        <button data-num="25">
                            <img src="images/deadoralive/play/number/25.png">
                        </button>
                        <button data-num="19">
                            <img src="images/deadoralive/play/number/19.png">
                        </button>
                        <button data-num="16">
                            <img src="images/deadoralive/play/number/16.png">
                        </button>
                        <button data-num="14">
                            <img src="images/deadoralive/play/number/14.png">
                        </button>
                        <button data-num="21">
                            <img src="images/deadoralive/play/number/21.png">
                        </button>
                        <button data-num="23">
                            <img src="images/deadoralive/play/number/23.png">
                        </button>
                        <button data-num="18">
                            <img src="images/deadoralive/play/number/18.png">
                        </button>
                        <button data-num="20">
                            <img src="images/deadoralive/play/number/20.png">
                        </button>
                        <button data-num="22">
                            <img src="images/deadoralive/play/number/22.png">
                        </button>
                        <button data-num="15">
                            <img src="images/deadoralive/play/number/15.png">
                        </button>
                        <button data-num="24">
                            <img src="images/deadoralive/play/number/24.png">
                        </button>
                    </div>
                </div>
                <span class="num-tongdat">0</span>
                <span class="num-vuathang">0</span>

                <button class="btn-muccuoc">100</button>

                <button class="chooseLine">
                    <span class="num-lines">0</span>
                </button>

                <button class="btn-help" style="top: 659px;left: 58px;">
                    <img src="images/deadoralive/lobby/btn_help.png">
                </button>
            </div>
            <canvas id="slotCandyCanvas" style="touch-action: none; cursor: inherit;"></canvas>
            <div class="draw-lines"></div>
            <img src="images/deadoralive/play/khung.png" class="khung-game">
            <div class="win-effect is-hide">
                <div class="type-jackpot">
                    <div class="winwrap">
                        <img src="images/deadoralive/fx/coin.png">
                        <img src="images/deadoralive/fx/light_3.png" class="animated tada infinite">
                        <img src="images/deadoralive/fx/bg-lg.png" class="nen">
                        <img src="images/deadoralive/fx/text_nohu.png" class="title tada animated infinite">
                        <div class="numwrap">
                            <span data-text="+">+</span><span class="winnum">30.000</span>
                        </div>
                    </div>
                </div>
                <div class="type-bigwin">
                    <div class="winwrap">
                        <img src="images/deadoralive/fx/light_3.png" class="animated tada infinite">
                        <img src="images/deadoralive/fx/bg-lg.png" class="nen">
                        <img src="images/deadoralive/fx/text_thanglon.png" class="title bounce animated infinite">
                        <div class="numwrap">
                            <span data-text="+">+</span><span class="winnum">30.000</span>
                        </div>
                    </div>
                </div>
                <div class="type-freespin">
                    <div class="winwrap">
                        <img src="images/deadoralive/fx/bg.png" class="nen">
                        <img src="images/deadoralive/fx/text_lqmp.png" class="title pulse animated infinite">
                    </div>
                </div>
                <div class="type-bonus">
                    <div class="winwrap">
                        <img src="images/deadoralive/fx/bg.png" class="nen">
                        <img src="images/deadoralive/fx/text_bonusgame.png" class="title">
                    </div>
                </div>

                <div class="type-normal">
                    <div class="winwrap">
                        <div class="numwrap">
                            <span data-text="+">+</span><span class="winnum">30.000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="shortnotice" style="display: none;">
                <img src="images/deadoralive/play/notify.png">
                <span class="mess shake animated">AAAA</span>
            </div>
        </div>

        <div class="slot-popup slcaidat">
            <img src="images/deadoralive/popup/bg_caidat.png">
            <button class="btn-closePopup" style="top: 32px;left: 449px;">
                <img src="images/deadoralive/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <label class="amthanh" style="top: 103px;">
                    <img src="images/deadoralive/popup/check.png">
                    <img src="images/deadoralive/popup/uncheck.png">
                    Âm thanh
                </label>
                <label class="lsgd" style="top: 186px;">Lịch sử giao dịch</label>
                <label class="lsh" style="top: 269px;">Lịch sử hũ</label>
            </div>
        </div>

        <div class="slot-popup slbangthuong">
            <img src="images/deadoralive/popup/bg_popup.jpg" class="slpopup-bg">
            <img src="images/deadoralive/popup/title_bangthuong.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/deadoralive/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <img src="images/deadoralive/popup/help/h1.png">
                <img src="images/deadoralive/popup/help/h2.png">
                <img src="images/deadoralive/popup/help/h3.png">
                <img src="images/deadoralive/popup/help/h4.png">
                <button class="btn-next" style="position: absolute;top: 132px;left: 1066px;z-index: 5;">
                	<img src="images/deadoralive/popup/help/next.png">
                </button>
                <button class="btn-prev" style="position: absolute;top: 132px;left: -96px;z-index: 5;">
                	<img src="images/deadoralive/popup/help/prev.png">
                </button>
            </div>
        </div>

        <div class="slot-popup slchondong">
            <img src="images/deadoralive/popup/bg_popup.jpg" class="slpopup-bg">
            <img src="images/deadoralive/popup/title_chondong.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/deadoralive/popup/btn_close.png">
            </button>
            <div class="slpopup-content">
                <div class="lines">
                    <div class="item"><button data-num="1"><img src="images/deadoralive/popup/chon_dong/chon/1.png"></button></div>
                    <div class="item"><button data-num="2"><img src="images/deadoralive/popup/chon_dong/chon/2.png"></button></div>
                    <div class="item"><button data-num="3"><img src="images/deadoralive/popup/chon_dong/chon/3.png"></button></div>
                    <div class="item"><button data-num="4"><img src="images/deadoralive/popup/chon_dong/chon/4.png"></button></div>
                    <div class="item"><button data-num="5"><img src="images/deadoralive/popup/chon_dong/chon/5.png"></button></div>
                    <div class="item"><button data-num="6"><img src="images/deadoralive/popup/chon_dong/chon/6.png"></button></div>
                    <div class="item"><button data-num="7"><img src="images/deadoralive/popup/chon_dong/chon/7.png"></button></div>
                    <div class="item"><button data-num="8"><img src="images/deadoralive/popup/chon_dong/chon/8.png"></button></div>
                    <div class="item"><button data-num="9"><img src="images/deadoralive/popup/chon_dong/chon/9.png"></button></div>
                    <div class="item"><button data-num="10"><img src="images/deadoralive/popup/chon_dong/chon/10.png"></button></div>
                    <div class="item"><button data-num="11"><img src="images/deadoralive/popup/chon_dong/chon/11.png"></button></div>
                    <div class="item"><button data-num="12"><img src="images/deadoralive/popup/chon_dong/chon/12.png"></button></div>
                    <div class="item"><button data-num="13"><img src="images/deadoralive/popup/chon_dong/chon/13.png"></button></div>
                    <div class="item"><button data-num="14"><img src="images/deadoralive/popup/chon_dong/chon/14.png"></button></div>
                    <div class="item"><button data-num="15"><img src="images/deadoralive/popup/chon_dong/chon/15.png"></button></div>
                    <div class="item"><button data-num="16"><img src="images/deadoralive/popup/chon_dong/chon/16.png"></button></div>
                    <div class="item"><button data-num="17"><img src="images/deadoralive/popup/chon_dong/chon/17.png"></button></div>
                    <div class="item"><button data-num="18"><img src="images/deadoralive/popup/chon_dong/chon/18.png"></button></div>
                    <div class="item"><button data-num="19"><img src="images/deadoralive/popup/chon_dong/chon/19.png"></button></div>
                    <div class="item"><button data-num="20"><img src="images/deadoralive/popup/chon_dong/chon/20.png"></button></div>
                    <div class="item"><button data-num="21"><img src="images/deadoralive/popup/chon_dong/chon/21.png"></button></div>
                    <div class="item"><button data-num="22"><img src="images/deadoralive/popup/chon_dong/chon/22.png"></button></div>
                    <div class="item"><button data-num="23"><img src="images/deadoralive/popup/chon_dong/chon/23.png"></button></div>
                    <div class="item"><button data-num="24"><img src="images/deadoralive/popup/chon_dong/chon/24.png"></button></div>
                    <div class="item"><button data-num="25"><img src="images/deadoralive/popup/chon_dong/chon/25.png"></button></div>
                </div>

                <div class="controlBottom">
                    <button class="btn-chonChan"><img src="images/deadoralive/popup/btn_dongchan.png"></button>
                    <button class="btn-chonLe"><img src="images/deadoralive/popup/btn_dongle.png"></button>
                    <button class="btn-chonAll"><img src="images/deadoralive/popup/btn_tatca.png"></button>
                    <button class="btn-chonNone"><img src="images/deadoralive/popup/btn_bochon.png"></button>
                </div>
            </div>
        </div>

        <div class="slot-popup slminigame">
            <img src="images/deadoralive/popup/bg_popup.jpg" class="slpopup-bg">
            <img src="images/deadoralive/popup/title_minigame.png" class="slpopup-title">
            <div class="slpopup-content">
                <div class="wrap1" style="display: none;">
                	<p>Chọn biểu tượng để nhận giải thưởng ẩn sau<br>(kết thúc khi gặp phải đầu lâu)</p>

                    <span class="bn-timmer">15s</span>
                    <div class="w-nhanduoc"><span class="nhanduoc">500.000</span></div>

                    <div class="items">
                        <div class="item"><img src="images/deadoralive/bonus/item/1.png"></div>
                    </div>
                </div>
                <div class="wrap2">
                    <p>Chọn 1 trong 3 rương để tìm cửa ra</p>
                    <div class="items-ruong">
                        <div class="item active"><img src="images/deadoralive/bonus/ruong-lg.png"><img src="images/deadoralive/bonus/ruong_on.png"><span>X3</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slot-popup slvinhdanh">
            <img src="images/deadoralive/popup/bg_popup.jpg" class="slpopup-bg">
            <img src="images/deadoralive/popup/title_bangvinhdanh.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/deadoralive/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <div class="table-header">
                    <div>Thời gian</div>
                    <div>Tài khoản</div>
                    <div>Phòng</div>
                    <div>Thắng</div>
                    <div>Mô tả</div>
                </div>
                <div class="table-content"><table><tbody></tbody></table></div>
                <div class="pagination"></div>
            </div>
        </div>

        <div class="slot-popup sllichsu">
            <img src="images/deadoralive/popup/bg_popup.jpg" class="slpopup-bg">
            <img src="images/deadoralive/popup/title_lscuoc.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/deadoralive/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <div class="table-header">
                    <div>Thời gian</div>
                    <div>Phiên</div>
                    <div>Phòng</div>
                    <div>Trừ</div>
                    <div>Cộng</div>
                    <div>Mô tả</div>
                </div>
                <div class="table-content"><table><tbody></tbody></table></div>
                <div class="pagination"></div>
            </div>
        </div>

        <div class="slot-popup sllichsuhu">
            <img src="images/deadoralive/popup/bg_popup.jpg" class="slpopup-bg">
            <img src="images/deadoralive/popup/title_lshu.png" class="slpopup-title">
            <button class="btn-closePopup">
                <img src="images/deadoralive/popup/btn_close.png">
            </button>

            <div class="slpopup-content">
                <div class="table-header">
                    <div>Thời gian</div>
                    <div>Phiên</div>
                    <div>Phòng</div>
                    <div>Trừ</div>
                    <div>Cộng</div>
                    <div>Mô tả</div>
                </div>
                <div class="table-content"><table><tbody></tbody></table></div>
                <div class="pagination"></div>
            </div>
        </div>


        <div class="slot-popup popupCommon">
            <img src="images/deadoralive/popup/bg_thongbao.png">
            <button class="btn-closePopup" style="top: 32px;left: 449px;">
                <img src="images/deadoralive/popup/btn_close.png">
            </button>

            <div class="slpopup-content">Vui lòng đăng nhập để chơi</div>
        </div>
    </div>

    <div id="topHuGroup">
    	<button class="btn-tophusl">
            <img src="images/deadoralive/tophu.png">
            <img src="images/deadoralive/tophu2.png">
        </button>
    	<div id="topHu-container" style="display: none;"></div>
    </div>
    <script type="text/javascript">
        (function(){
            var myplay = new GameDeadOrAlive();
        })();
    