<div id="topHu-wrap">
    <div class="btn-topHu">
        <img src="images/tophu/title.png">
    </div>
    <div class="topHu-inner">
        <img src="images/tophu/bg.png">
        <div class="group-btn">
            <button data-num="100">100</button>
            <button data-num="1000" class="active">1K</button>
            <button data-num="10000">10K</button>
        </div>
        <div class="list-hu-wrap">
            <div class="list-hu">
                <div>
                    <img src="images/tophu/icon.png">
                    <span class="g-name">Minipoker</span>
                    <span class="g-hu">564,987</span>
                </div>
            </div>
        </div>
    </div>
</div>