<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon0-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,114},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

			<key>icon1-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,114},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

			<key>icon2-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

			<key>icon3-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,228},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

			<key>icon4-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,228},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

			<key>icon5-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

			<key>icon6-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

			<key>icon7-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

			<key>icon8-sieuxe.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{134,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,114}}</string>
				<key>sourceSize</key>
				<string>{134,114}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{402,342}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>