<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo_3cay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{432,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{435,1},{432,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_lieng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{869,1},{432,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_maubinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{1,435},{432,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_phom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{1,869},{432,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{114,435},{432,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_sam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{227,435},{432,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_tlmn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{340,435},{432,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_xito.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{435,869},{432,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_xocdia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,111}</string>
                <key>spriteSourceSize</key>
                <string>{432,111}</string>
                <key>textureRect</key>
                <string>{{453,435},{432,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>vip52_name.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3bd233dbe8ef7f82446b1dc20628d6d:2596e7b84bb943aff04e5078195367cf:38300f3f9de12b6246601746ba5494b1$</string>
            <key>textureFileName</key>
            <string>vip52_name.png</string>
        </dict>
    </dict>
</plist>
