<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>10b.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,580},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>10c.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,145},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>10r.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,0},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>10t.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,290},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>11b.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,580},{106,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,143}}</string>
				<key>sourceSize</key>
				<string>{108,145}</string>
			</dict>

			<key>11c.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,724},{106,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,143}}</string>
				<key>sourceSize</key>
				<string>{108,145}</string>
			</dict>

			<key>11r.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,578},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>11t.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,0},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>12b.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,864},{106,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,143}}</string>
				<key>sourceSize</key>
				<string>{108,145}</string>
			</dict>

			<key>12c.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,143},{106,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,143}}</string>
				<key>sourceSize</key>
				<string>{108,145}</string>
			</dict>

			<key>12r.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,144},{104,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{104,141}}</string>
				<key>sourceSize</key>
				<string>{110,149}</string>
			</dict>

			<key>12t.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,723},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>13b.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,868},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>13c.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,715},{106,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,143}}</string>
				<key>sourceSize</key>
				<string>{108,145}</string>
			</dict>

			<key>13r - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,859},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{106,142}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>13r.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,0},{106,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,143}}</string>
				<key>sourceSize</key>
				<string>{108,145}</string>
			</dict>

			<key>13t.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,430},{106,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,143}}</string>
				<key>sourceSize</key>
				<string>{108,145}</string>
			</dict>

			<key>1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,572},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>1c.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,668},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>1r.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,290},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>1t.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,860},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>2b.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,717},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>2c.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,574},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>2r.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,145},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>2t.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,286},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>3b.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,813},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>3c.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,508},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>3r.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,798},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>3t.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,143},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>4b.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,0},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>4c.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,287},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>4r.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,653},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>4t.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,0},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>5b.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,721},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>5c.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,943},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>5r.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,435},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>5t.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,429},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>6b.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,870},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>6c.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,866},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>6r.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,725},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>6t.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,286},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7b.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,143},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7c.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,0},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7r.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,435},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>7t.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,523},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>8b.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,145},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>8c.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,0},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>8r.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,363},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>8t.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,865},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>9b.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,290},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>9c.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,0},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>9r.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,435},{107,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{107,144}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>9t.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,143},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,142}}</string>
				<key>sourceSize</key>
				<string>{108,144}</string>
			</dict>

			<key>border.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,958},{102,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{102,139}}</string>
				<key>sourceSize</key>
				<string>{104,141}</string>
			</dict>

			<key>card_face_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,580},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{106,142}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

			<key>card_select1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,523},{131,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{131,170}}</string>
				<key>sourceSize</key>
				<string>{133,172}</string>
			</dict>

			<key>card_select2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,694},{131,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{131,170}}</string>
				<key>sourceSize</key>
				<string>{135,172}</string>
			</dict>

			<key>effect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{138,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{138,178}}</string>
				<key>sourceSize</key>
				<string>{139,180}</string>
			</dict>

			<key>effect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{137,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{137,159}}</string>
				<key>sourceSize</key>
				<string>{139,161}</string>
			</dict>

			<key>effect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{138,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{138,183}}</string>
				<key>sourceSize</key>
				<string>{139,186}</string>
			</dict>

			<key>effect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{123,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{123,177}}</string>
				<key>sourceSize</key>
				<string>{125,180}</string>
			</dict>

			<key>white_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,429},{106,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{106,142}}</string>
				<key>sourceSize</key>
				<string>{109,146}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1098,1098}</string>
			<key>textureFileName</key>
			<string>cards.png</string>
			</dict>
		</dict>
</plist>