<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bacay/anga.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{252,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,141}}</string>
				<key>sourceSize</key>
				<string>{252,141}</string>
			</dict>

			<key>bacay/bg_danhbien.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,510},{99,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{99,55}}</string>
				<key>sourceSize</key>
				<string>{101,57}</string>
			</dict>

			<key>bacay/bg_kecua.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,747},{107,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{107,60}}</string>
				<key>sourceSize</key>
				<string>{108,62}</string>
			</dict>

			<key>bacay/btn_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,946},{134,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{134,59}}</string>
				<key>sourceSize</key>
				<string>{136,61}</string>
			</dict>

			<key>bacay/chuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,462},{99,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{99,47}}</string>
				<key>sourceSize</key>
				<string>{101,49}</string>
			</dict>

			<key>bacay/icon_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,0},{44,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,49}}</string>
				<key>sourceSize</key>
				<string>{44,49}</string>
			</dict>

			<key>bacay/khung_bg_ngchoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,622},{238,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{238,191}}</string>
				<key>sourceSize</key>
				<string>{240,193}</string>
			</dict>

			<key>bacay/khung_bg_ngchoi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,814},{238,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{238,191}}</string>
				<key>sourceSize</key>
				<string>{240,193}</string>
			</dict>

			<key>bacay/vaoga.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,169},{140,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,55}}</string>
				<key>sourceSize</key>
				<string>{140,55}</string>
			</dict>

			<key>bacay/vay.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,64},{88,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{88,56}}</string>
				<key>sourceSize</key>
				<string>{90,58}</string>
			</dict>

			<key>button/bg_napthe.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,560},{153,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,48}}</string>
				<key>sourceSize</key>
				<string>{153,48}</string>
			</dict>

			<key>button/bg_username.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,991},{104,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{104,25}}</string>
				<key>sourceSize</key>
				<string>{106,27}</string>
			</dict>

			<key>button/btn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,690},{172,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,68}}</string>
				<key>sourceSize</key>
				<string>{172,68}</string>
			</dict>

			<key>button/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,621},{172,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{172,68}}</string>
				<key>sourceSize</key>
				<string>{173,70}</string>
			</dict>

			<key>button/btn_1_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,759},{153,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,59}}</string>
				<key>sourceSize</key>
				<string>{153,59}</string>
			</dict>

			<key>button/btn_1_checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,819},{153,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,59}}</string>
				<key>sourceSize</key>
				<string>{153,59}</string>
			</dict>

			<key>button/btn_1_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,162},{182,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{182,65}}</string>
				<key>sourceSize</key>
				<string>{184,69}</string>
			</dict>

			<key>button/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,462},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/btn_baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{340,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{340,342}}</string>
				<key>sourceSize</key>
				<string>{341,343}</string>
			</dict>

			<key>button/btn_baosam1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,622},{236,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{236,236}}</string>
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>

			<key>button/btn_batdau.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,480},{209,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,79}}</string>
				<key>sourceSize</key>
				<string>{209,79}</string>
			</dict>

			<key>button/btn_button1.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,424},{153,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,48}}</string>
				<key>sourceSize</key>
				<string>{153,48}</string>
			</dict>

			<key>button/btn_button2.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,424},{153,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,48}}</string>
				<key>sourceSize</key>
				<string>{153,48}</string>
			</dict>

			<key>button/btn_caidat.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,352},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/btn_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,81},{208,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,80}}</string>
				<key>sourceSize</key>
				<string>{208,80}</string>
			</dict>

			<key>button/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,361},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{69,70}}</string>
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>

			<key>button/btn_chat2.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,879},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/btn_chupanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,914},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>button/btn_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,723},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{63,66}}</string>
				<key>sourceSize</key>
				<string>{63,67}</string>
			</dict>

			<key>button/btn_moi.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,879},{137,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{137,66}}</string>
				<key>sourceSize</key>
				<string>{137,67}</string>
			</dict>

			<key>button/btn_moichoi_vuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,228},{113,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,89}}</string>
				<key>sourceSize</key>
				<string>{113,89}</string>
			</dict>

			<key>button/btn_muiten.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,201},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{69,68}</string>
			</dict>

			<key>button/btn_ngchoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,747},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/btn_ngoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,566},{80,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{80,20}}</string>
				<key>sourceSize</key>
				<string>{82,22}</string>
			</dict>

			<key>button/btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{208,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,80}}</string>
				<key>sourceSize</key>
				<string>{208,80}</string>
			</dict>

			<key>button/btn_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,519},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{63,66}}</string>
				<key>sourceSize</key>
				<string>{63,67}</string>
			</dict>

			<key>button/btn_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,859},{163,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,63}}</string>
				<key>sourceSize</key>
				<string>{163,63}</string>
			</dict>

			<key>button/btn_refresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,290},{73,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{73,70}}</string>
				<key>sourceSize</key>
				<string>{75,72}</string>
			</dict>

			<key>button/btn_ruttien.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,560},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>

			<key>button/btn_sansang.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,924},{209,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,79}}</string>
				<key>sourceSize</key>
				<string>{209,79}</string>
			</dict>

			<key>button/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,352},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/btn_setting_hover.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,352},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/btn_thoat.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,462},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/btn_thoat_hover.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,462},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/btn_trove.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,343},{208,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,80}}</string>
				<key>sourceSize</key>
				<string>{208,80}</string>
			</dict>

			<key>button/bubble_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,129},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>button/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,636},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/close_hover.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,636},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,0},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>button/coin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,439},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>button/coin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,834},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>button/coin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,210},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>button/coin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,121},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>button/comingsoon.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,859},{215,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,64}}</string>
				<key>sourceSize</key>
				<string>{215,64}</string>
			</dict>

			<key>button/dangxem.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,819},{110,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{110,38}}</string>
				<key>sourceSize</key>
				<string>{112,41}</string>
			</dict>

			<key>button/dealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,228},{179,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,186}}</string>
				<key>sourceSize</key>
				<string>{179,186}</string>
			</dict>

			<key>button/dealer_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,80},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>button/dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,991},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>

			<key>button/elip_cards.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,424},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>

			<key>button/glow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{168,168}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>

			<key>button/glow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,424},{195,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{195,196}}</string>
				<key>sourceSize</key>
				<string>{197,198}</string>
			</dict>

			<key>button/icon_key.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,566},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,36}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>button/icon_kick.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,991},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,26}}</string>
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>

			<key>button/icon_moichoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,747},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/icon_vang_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,121},{87,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,88}}</string>
				<key>sourceSize</key>
				<string>{87,88}</string>
			</dict>

			<key>button/icon_vang_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,80},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>button/icon_xu_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,989},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{35,34}}</string>
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>

			<key>button/khung_avatar_thoigian.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,621},{127,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,125}}</string>
				<key>sourceSize</key>
				<string>{127,125}</string>
			</dict>

			<key>button/khung_avatar_thoigian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,225},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>

			<key>button/khung_avatar_tron_ten_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,318},{108,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,23}}</string>
				<key>sourceSize</key>
				<string>{108,23}</string>
			</dict>

			<key>button/khung_cacchi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,343},{260,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,136}}</string>
				<key>sourceSize</key>
				<string>{260,136}</string>
			</dict>

			<key>button/moichoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,549},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>button/muccuoc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,924},{176,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,66}}</string>
				<key>sourceSize</key>
				<string>{176,66}</string>
			</dict>

			<key>button/signal_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,966},{62,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{62,50}}</string>
				<key>sourceSize</key>
				<string>{62,51}</string>
			</dict>

			<key>button/signal_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,638},{60,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{60,51}}</string>
				<key>sourceSize</key>
				<string>{62,51}</string>
			</dict>

			<key>button/signal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,290},{60,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{60,51}}</string>
				<key>sourceSize</key>
				<string>{62,51}</string>
			</dict>

			<key>button/signal_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,586},{60,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{60,51}}</string>
				<key>sourceSize</key>
				<string>{62,51}</string>
			</dict>

			<key>button/solo_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,834},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,41}}</string>
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>

			<key>button/solo_checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,790},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,41}}</string>
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>

			<key>button/text_bocbai.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,0},{96,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,63}}</string>
				<key>sourceSize</key>
				<string>{96,63}</string>
			</dict>

			<key>button/triangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,169},{49,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{49,36}}</string>
				<key>sourceSize</key>
				<string>{51,37}</string>
			</dict>

			<key>coin/coin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,0},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>coin/coin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,439},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>coin/coin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,834},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>coin/coin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,210},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>coin/coin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,121},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>coin/coin_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,352},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,109}}</string>
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>tx_1.png</string>
			</dict>
		</dict>
</plist>