<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>VIP1.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,689},{103,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{103,110}}</string>
				<key>sourceSize</key>
				<string>{103,111}</string>
			</dict>

			<key>VIP2.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,913},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{99,108}}</string>
				<key>sourceSize</key>
				<string>{101,111}</string>
			</dict>

			<key>VIP3.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,404},{105,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{105,120}}</string>
				<key>sourceSize</key>
				<string>{107,122}</string>
			</dict>

			<key>VIP4.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,800},{103,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{103,112}}</string>
				<key>sourceSize</key>
				<string>{103,113}</string>
			</dict>

			<key>VIP5.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,571},{107,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,117}}</string>
				<key>sourceSize</key>
				<string>{107,117}</string>
			</dict>

			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,947},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{63,66}}</string>
				<key>sourceSize</key>
				<string>{63,67}</string>
			</dict>

			<key>add_hover.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,947},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{63,66}}</string>
				<key>sourceSize</key>
				<string>{63,67}</string>
			</dict>

			<key>bg_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,563},{170,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{170,97}}</string>
				<key>sourceSize</key>
				<string>{172,99}</string>
			</dict>

			<key>bg_popup.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,571},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{84,84}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>border.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,20},{312,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{312,198}}</string>
				<key>sourceSize</key>
				<string>{312,198}</string>
			</dict>

			<key>border_xocdia.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,20},{312,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{312,198}}</string>
				<key>sourceSize</key>
				<string>{312,198}</string>
			</dict>

			<key>bubble_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,525},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>

			<key>coin_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,661},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,109}}</string>
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>

			<key>elip_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,789},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,157}}</string>
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>

			<key>huycai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,725},{162,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,63}}</string>
				<key>sourceSize</key>
				<string>{162,63}</string>
			</dict>

			<key>icon_chan.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,947},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>

			<key>icon_le.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,969},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>

			<key>khung tien.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{251,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,59}}</string>
				<key>sourceSize</key>
				<string>{251,59}</string>
			</dict>

			<key>khung_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,789},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,129}}</string>
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>

			<key>khung_chanle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{298,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,184}}</string>
				<key>sourceSize</key>
				<string>{298,184}</string>
			</dict>

			<key>lamcai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,661},{162,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,63}}</string>
				<key>sourceSize</key>
				<string>{162,63}</string>
			</dict>

			<key>mask_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,464},{107,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,106}}</string>
				<key>sourceSize</key>
				<string>{107,106}</string>
			</dict>

			<key>poker_raise_bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{377,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{377,19}}</string>
				<key>sourceSize</key>
				<string>{377,19}</string>
			</dict>

			<key>poker_raise_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,464},{176,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{176,98}}</string>
				<key>sourceSize</key>
				<string>{178,100}</string>
			</dict>

			<key>solo_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,961},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,41}}</string>
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>

			<key>solo_checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,919},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,41}}</string>
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>

			<key>tru.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,947},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{63,66}}</string>
				<key>sourceSize</key>
				<string>{63,67}</string>
			</dict>

			<key>tru_hover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,947},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{63,66}}</string>
				<key>sourceSize</key>
				<string>{63,67}</string>
			</dict>

			<key>vip0.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,919},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,85}}</string>
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>tx_2.png</string>
			</dict>
		</dict>
</plist>