<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,432},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>bg_danhbien.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,265},{14,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,78}}</string>
				<key>sourceSize</key>
				<string>{14,78}</string>
			</dict>

			<key>bg_dialog_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,195},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{46,46}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>

			<key>bg_in_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,395},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>

			<key>bg_kecua.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,414},{14,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,78}}</string>
				<key>sourceSize</key>
				<string>{14,78}</string>
			</dict>

			<key>bg_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,384},{94,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,90}}</string>
				<key>sourceSize</key>
				<string>{95,91}</string>
			</dict>

			<key>bg_scoll_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,265},{22,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,86}}</string>
				<key>sourceSize</key>
				<string>{24,88}</string>
			</dict>

			<key>bg_tiencuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{95,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{95,28}}</string>
				<key>sourceSize</key>
				<string>{97,30}</string>
			</dict>

			<key>bg_vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,192},{238,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{238,191}}</string>
				<key>sourceSize</key>
				<string>{240,193}</string>
			</dict>

			<key>bg_xanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{238,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{238,191}}</string>
				<key>sourceSize</key>
				<string>{240,193}</string>
			</dict>

			<key>btn_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,33},{79,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,32}}</string>
				<key>sourceSize</key>
				<string>{79,32}</string>
			</dict>

			<key>btn_cygan.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{79,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,32}}</string>
				<key>sourceSize</key>
				<string>{79,32}</string>
			</dict>

			<key>btn_danhbien.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,119},{47,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{47,37}}</string>
				<key>sourceSize</key>
				<string>{49,39}</string>
			</dict>

			<key>btn_emotion.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,352},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{22,22}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>btn_expand.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,375},{21,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,19}}</string>
				<key>sourceSize</key>
				<string>{21,19}</string>
			</dict>

			<key>btn_kecua.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,157},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{46,37}}</string>
				<key>sourceSize</key>
				<string>{48,39}</string>
			</dict>

			<key>btn_laylaima.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{160,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,47}}</string>
				<key>sourceSize</key>
				<string>{160,47}</string>
			</dict>

			<key>btn_moluon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,432},{115,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{115,44}}</string>
				<key>sourceSize</key>
				<string>{117,46}</string>
			</dict>

			<key>btn_naptien.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,66},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,52}}</string>
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>

			<key>btn_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,475},{79,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,32}}</string>
				<key>sourceSize</key>
				<string>{79,32}</string>
			</dict>

			<key>btn_pink.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,477},{79,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,32}}</string>
				<key>sourceSize</key>
				<string>{79,32}</string>
			</dict>

			<key>btn_quickchat.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,242},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{27,22}}</string>
				<key>sourceSize</key>
				<string>{29,24}</string>
			</dict>

			<key>drag_ico.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,414},{16,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{16,20}}</string>
				<key>sourceSize</key>
				<string>{18,22}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>tx_3.png</string>
			</dict>
		</dict>
</plist>