<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg/bg_cuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{567,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{567,201}}</string>
				<key>sourceSize</key>
				<string>{567,201}</string>
			</dict>

			<key>bg/bg_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{511,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,289}}</string>
				<key>sourceSize</key>
				<string>{512,290}</string>
			</dict>

			<key>bg/bg_result.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,202},{287,692}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,692}}</string>
				<key>sourceSize</key>
				<string>{287,692}</string>
			</dict>

			<key>bg/cuoc_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{252,676}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,676}}</string>
				<key>sourceSize</key>
				<string>{252,676}</string>
			</dict>

			<key>button/bg_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1262},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/bg_btn_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1262},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/bg_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,504},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>

			<key>button/btn_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1144},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_an_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1203},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1086},{111,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,112}}</string>
				<key>sourceSize</key>
				<string>{112,113}</string>
			</dict>

			<key>button/btn_back_chan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,349},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,79}}</string>
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>

			<key>button/btn_bo_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1026},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_bo_chiu_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,1085},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_boc.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,854},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_boc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,795},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_bou.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1381},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_bou_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,677},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_changepass.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1117},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/btn_changepass1.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1378},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/btn_chat_chan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,955},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,79}}</string>
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>

			<key>button/btn_chiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1381},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_chiu_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1322},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_choingay.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,934},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_choingay_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,993},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_danh.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,913},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_danh_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,736},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1322},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_dong_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,119},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_dong_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,934},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_dong_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1111},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_dongnoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1247},{203,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,76}}</string>
				<key>sourceSize</key>
				<string>{203,76}</string>
			</dict>

			<key>button/btn_duoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1099},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_duoi_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1040},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,58}</string>
			</dict>

			<key>button/btn_invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,445},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{87,87}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>button/btn_invite_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,357},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{87,87}}</string>
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>

			<key>button/btn_nap.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,792},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,52}}</string>
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>

			<key>button/btn_nap_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,972},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,52}}</string>
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>

			<key>button/btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,961},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/btn_ok_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1013},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/btn_quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1170},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/btn_quit_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1222},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/btn_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,993},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_ready_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1052},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,119},{83,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,82}}</string>
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>

			<key>button/btn_setting_chan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,269},{78,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,79}}</string>
				<key>sourceSize</key>
				<string>{78,79}</string>
			</dict>

			<key>button/btn_setting_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,871},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>

			<key>button/btn_submit.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1274},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/btn_submit_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1326},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/btn_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,780},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>

			<key>button/btn_top_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,1311},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,83}}</string>
				<key>sourceSize</key>
				<string>{84,83}</string>
			</dict>

			<key>button/btn_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,677},{117,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,114}}</string>
				<key>sourceSize</key>
				<string>{117,114}</string>
			</dict>

			<key>button/btn_u2.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,677},{117,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,114}}</string>
				<key>sourceSize</key>
				<string>{117,114}</string>
			</dict>

			<key>button/btn_unready.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1229},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_unready_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1170},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_xem_noc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1347},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_xem_noc_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1288},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_xemnoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1170},{203,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,76}}</string>
				<key>sourceSize</key>
				<string>{203,76}</string>
			</dict>

			<key>button/btn_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1111},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_xuong_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1052},{214,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,58}}</string>
				<key>sourceSize</key>
				<string>{214,58}</string>
			</dict>

			<key>button/btn_xuongu.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1324},{203,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,76}}</string>
				<key>sourceSize</key>
				<string>{203,76}</string>
			</dict>

			<key>button/chan_quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1169},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,82}}</string>
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>

			<key>button/chan_quit_clicked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1086},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,82}}</string>
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>

			<key>button/history1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,857},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/history2.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1065},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/home_thongtin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,782},{349,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{349,74}}</string>
				<key>sourceSize</key>
				<string>{349,74}</string>
			</dict>

			<key>button/home_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,269},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{87,87}}</string>
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>

			<key>button/home_x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,533},{87,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{87,87}}</string>
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>

			<key>button/kichhoat_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,909},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/kichhoat_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,0},{170,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,51}}</string>
				<key>sourceSize</key>
				<string>{170,51}</string>
			</dict>

			<key>button/moi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1381},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,59}</string>
			</dict>

			<key>button/moi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1322},{123,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{123,58}}</string>
				<key>sourceSize</key>
				<string>{123,59}</string>
			</dict>

			<key>button/moi_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,52},{78,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,36}}</string>
				<key>sourceSize</key>
				<string>{78,36}</string>
			</dict>

			<key>button/res_ga_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,429},{71,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{71,74}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>button/res_ga_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1042,677},{105,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,102}}</string>
				<key>sourceSize</key>
				<string>{105,102}</string>
			</dict>

			<key>card/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,1051},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,864},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,691},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,935},{50,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{50,188}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,1122},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1065},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1252},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,561},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,748},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,878},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,935},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,561},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,748},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1152,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,1252},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,0},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,504},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,1238},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,187},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>card/card_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,568},{60,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,196}}</string>
				<key>sourceSize</key>
				<string>{60,196}</string>
			</dict>

			<key>card/shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,374},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,186}}</string>
				<key>sourceSize</key>
				<string>{52,188}</string>
			</dict>

			<key>game/avatar_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1321},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{116,116}}</string>
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>

			<key>game/avatar_default_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,871},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>game/bb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,182},{95,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{95,86}}</string>
				<key>sourceSize</key>
				<string>{97,88}</string>
			</dict>

			<key>game/bg_card_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1401},{127,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,37}}</string>
				<key>sourceSize</key>
				<string>{127,37}</string>
			</dict>

			<key>game/bg_dianoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,972},{115,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{115,113}}</string>
				<key>sourceSize</key>
				<string>{115,114}</string>
			</dict>

			<key>game/bg_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,492},{511,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,289}}</string>
				<key>sourceSize</key>
				<string>{512,290}</string>
			</dict>

			<key>game/cc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,91},{98,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{98,90}}</string>
				<key>sourceSize</key>
				<string>{100,92}</string>
			</dict>

			<key>game/chuphong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1079,1395},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>

			<key>game/cn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,0},{98,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{98,90}}</string>
				<key>sourceSize</key>
				<string>{98,92}</string>
			</dict>

			<key>game/dx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,792},{110,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{110,78}}</string>
				<key>sourceSize</key>
				<string>{111,81}</string>
			</dict>

			<key>game/khung_avatar_chan.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1040},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>game/khung_avatar_chan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1181},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>game/money_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,782},{147,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,51}}</string>
				<key>sourceSize</key>
				<string>{147,51}</string>
			</dict>

			<key>game/plzchonnoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,857},{294,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{294,76}}</string>
				<key>sourceSize</key>
				<string>{298,78}</string>
			</dict>

			<key>game/quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,1406},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,26}}</string>
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>

			<key>game/ss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1199},{111,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,111}}</string>
				<key>sourceSize</key>
				<string>{111,111}</string>
			</dict>

			<key>game/tail.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,52},{146,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,66}}</string>
				<key>sourceSize</key>
				<string>{147,66}</string>
			</dict>

			<key>game/timebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,895},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{130,130}}</string>
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>

			<key>game/timebar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1169},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,144}}</string>
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>

			<key>game/timebar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,895},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,144}}</string>
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>

			<key>game/xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1406},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1418,1440}</string>
			<key>textureFileName</key>
			<string>tx_ctl.png</string>
			</dict>
		</dict>
</plist>