<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>2tuquy.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,227},{200,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{200,59}}</string>
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>

			<key>3doithong.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,609},{182,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{182,92}}</string>
				<key>sourceSize</key>
				<string>{185,93}</string>
			</dict>

			<key>3doithong3bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,1184},{249,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{249,83}}</string>
				<key>sourceSize</key>
				<string>{252,85}</string>
			</dict>

			<key>3sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,997},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{168,66}}</string>
				<key>sourceSize</key>
				<string>{171,68}</string>
			</dict>

			<key>3thung.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1203},{191,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{191,74}}</string>
				<key>sourceSize</key>
				<string>{194,76}</string>
			</dict>

			<key>3xam.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,723},{157,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{157,83}}</string>
				<key>sourceSize</key>
				<string>{159,85}</string>
			</dict>

			<key>4doithong.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,518},{185,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{185,90}}</string>
				<key>sourceSize</key>
				<string>{187,93}</string>
			</dict>

			<key>4doithong3bich.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,1184},{254,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{254,88}}</string>
				<key>sourceSize</key>
				<string>{255,89}</string>
			</dict>

			<key>5doi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,899},{166,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{166,81}}</string>
				<key>sourceSize</key>
				<string>{167,83}</string>
			</dict>

			<key>5doi1xam.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,1203},{169,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{169,78}}</string>
				<key>sourceSize</key>
				<string>{170,80}</string>
			</dict>

			<key>5doithong.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,744},{189,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{189,93}}</string>
				<key>sourceSize</key>
				<string>{189,94}</string>
			</dict>

			<key>6doi.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,997},{172,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{172,80}}</string>
				<key>sourceSize</key>
				<string>{174,82}</string>
			</dict>

			<key>6doithong.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,423},{187,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{187,94}}</string>
				<key>sourceSize</key>
				<string>{188,95}</string>
			</dict>

			<key>ancaychot.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,845},{232,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{232,57}}</string>
				<key>sourceSize</key>
				<string>{235,57}</string>
			</dict>

			<key>anga.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,227},{252,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{252,138}}</string>
				<key>sourceSize</key>
				<string>{252,140}</string>
			</dict>

			<key>ansam.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,669},{161,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{161,53}}</string>
				<key>sourceSize</key>
				<string>{162,55}</string>
			</dict>

			<key>ba.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,405},{74,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{74,50}}</string>
				<key>sourceSize</key>
				<string>{77,51}</string>
			</dict>

			<key>bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1189,669},{107,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{107,47}}</string>
				<key>sourceSize</key>
				<string>{110,47}</string>
			</dict>

			<key>baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,949},{175,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{175,47}}</string>
				<key>sourceSize</key>
				<string>{178,47}</string>
			</dict>

			<key>bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,763},{66,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{66,42}}</string>
				<key>sourceSize</key>
				<string>{70,43}</string>
			</dict>

			<key>bibatsam.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1082},{225,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,62}}</string>
				<key>sourceSize</key>
				<string>{225,62}</string>
			</dict>

			<key>binhlung.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,605},{99,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,55}}</string>
				<key>sourceSize</key>
				<string>{99,55}</string>
			</dict>

			<key>bodoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,357},{116,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{116,47}}</string>
				<key>sourceSize</key>
				<string>{119,47}</string>
			</dict>

			<key>boluot.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1150},{137,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{137,52}}</string>
				<key>sourceSize</key>
				<string>{141,53}</string>
			</dict>

			<key>btn_baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{340,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{340,342}}</string>
				<key>sourceSize</key>
				<string>{341,343}</string>
			</dict>

			<key>btn_baosam1.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,845},{236,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{236,236}}</string>
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>

			<key>btn_taoban.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,141},{254,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,85}}</string>
				<key>sourceSize</key>
				<string>{254,85}</string>
			</dict>

			<key>chansam.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,366},{206,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{206,56}}</string>
				<key>sourceSize</key>
				<string>{208,57}</string>
			</dict>

			<key>cong.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,423},{196,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{196,161}}</string>
				<key>sourceSize</key>
				<string>{197,162}</string>
			</dict>

			<key>culu.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,1268},{94,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,39}}</string>
				<key>sourceSize</key>
				<string>{95,39}</string>
			</dict>

			<key>dangxep.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1145},{194,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,57}}</string>
				<key>sourceSize</key>
				<string>{195,57}</string>
			</dict>

			<key>den.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,981},{91,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,53}}</string>
				<key>sourceSize</key>
				<string>{92,54}</string>
			</dict>

			<key>den_tala.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1092},{85,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,54}}</string>
				<key>sourceSize</key>
				<string>{87,54}</string>
			</dict>

			<key>diem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,717},{100,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,45}}</string>
				<key>sourceSize</key>
				<string>{100,45}</string>
			</dict>

			<key>doi.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1145},{66,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,38}}</string>
				<key>sourceSize</key>
				<string>{67,38}</string>
			</dict>

			<key>donghoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1234},{239,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{239,59}}</string>
				<key>sourceSize</key>
				<string>{239,62}</string>
			</dict>

			<key>ds1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{1208,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1208,69}}</string>
				<key>sourceSize</key>
				<string>{1208,69}</string>
			</dict>

			<key>ds2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1214,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1214,70}}</string>
				<key>sourceSize</key>
				<string>{1214,70}</string>
			</dict>

			<key>glow1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,141},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{168,168}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>

			<key>glow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,141},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{190,190}</string>
			</dict>

			<key>glow3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,770},{334,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{334,135}}</string>
				<key>sourceSize</key>
				<string>{336,137}</string>
			</dict>

			<key>hoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,867},{84,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{84,47}}</string>
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>

			<key>hoacalang.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,366},{230,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,45}}</string>
				<key>sourceSize</key>
				<string>{231,45}</string>
			</dict>

			<key>huybao.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,838},{177,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{177,60}}</string>
				<key>sourceSize</key>
				<string>{178,61}</string>
			</dict>

			<key>lieng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,556},{102,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,48}}</string>
				<key>sourceSize</key>
				<string>{102,48}</string>
			</dict>

			<key>mauthau.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,899},{175,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{175,49}}</string>
				<key>sourceSize</key>
				<string>{175,50}</string>
			</dict>

			<key>mom.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,585},{196,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{196,158}}</string>
				<key>sourceSize</key>
				<string>{198,160}</string>
			</dict>

			<key>nhat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,1150},{137,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{137,62}}</string>
				<key>sourceSize</key>
				<string>{137,64}</string>
			</dict>

			<key>nhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,915},{83,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,51}}</string>
				<key>sourceSize</key>
				<string>{83,51}</string>
			</dict>

			<key>sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,702},{91,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,41}}</string>
				<key>sourceSize</key>
				<string>{91,41}</string>
			</dict>

			<key>sanhrong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{372,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{372,142}}</string>
				<key>sourceSize</key>
				<string>{377,142}</string>
			</dict>

			<key>sanhrongdonghoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,284},{372,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{372,142}}</string>
				<key>sourceSize</key>
				<string>{377,142}</string>
			</dict>

			<key>sap.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,456},{71,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,46}}</string>
				<key>sourceSize</key>
				<string>{72,46}</string>
			</dict>

			<key>thang.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,287},{196,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{196,78}}</string>
				<key>sourceSize</key>
				<string>{198,81}</string>
			</dict>

			<key>thangsapham.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,506},{157,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{157,92}}</string>
				<key>sourceSize</key>
				<string>{157,95}</string>
			</dict>

			<key>thangsaplang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,413},{163,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{163,92}}</string>
				<key>sourceSize</key>
				<string>{165,95}</string>
			</dict>

			<key>theo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,242},{110,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,46}}</string>
				<key>sourceSize</key>
				<string>{110,46}</string>
			</dict>

			<key>thoi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,1213},{135,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,52}}</string>
				<key>sourceSize</key>
				<string>{135,52}</string>
			</dict>

			<key>thu.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,702},{71,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,39}}</string>
				<key>sourceSize</key>
				<string>{71,39}</string>
			</dict>

			<key>thua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,141},{116,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{116,52}}</string>
				<key>sourceSize</key>
				<string>{119,55}</string>
			</dict>

			<key>thuasapham.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,1064},{166,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{166,85}}</string>
				<key>sourceSize</key>
				<string>{168,85}</string>
			</dict>

			<key>thuasaplang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,331},{168,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{168,81}}</string>
				<key>sourceSize</key>
				<string>{168,83}</string>
			</dict>

			<key>thung.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,194},{115,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,47}}</string>
				<key>sourceSize</key>
				<string>{116,47}</string>
			</dict>

			<key>to.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,71},{63,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{63,53}}</string>
				<key>sourceSize</key>
				<string>{63,54}</string>
			</dict>

			<key>toitrang.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,706},{305,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{305,138}}</string>
				<key>sourceSize</key>
				<string>{307,140}</string>
			</dict>

			<key>tpsanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1184},{286,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{286,49}}</string>
				<key>sourceSize</key>
				<string>{286,49}</string>
			</dict>

			<key>tuquy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,310},{129,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,46}}</string>
				<key>sourceSize</key>
				<string>{129,46}</string>
			</dict>

			<key>tuquy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,366},{189,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{189,56}}</string>
				<key>sourceSize</key>
				<string>{192,58}</string>
			</dict>

			<key>tuquy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1082},{188,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{188,57}}</string>
				<key>sourceSize</key>
				<string>{192,59}</string>
			</dict>

			<key>tuquy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,838},{148,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{148,56}}</string>
				<key>sourceSize</key>
				<string>{150,58}</string>
			</dict>

			<key>u.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,566},{305,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{305,139}}</string>
				<key>sourceSize</key>
				<string>{307,140}</string>
			</dict>

			<key>uden.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,427},{305,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{305,138}}</string>
				<key>sourceSize</key>
				<string>{307,140}</string>
			</dict>

			<key>udentron.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{307,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{307,138}}</string>
				<key>sourceSize</key>
				<string>{309,140}</string>
			</dict>

			<key>ukhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,906},{305,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{305,138}}</string>
				<key>sourceSize</key>
				<string>{307,140}</string>
			</dict>

			<key>up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,807},{125,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{125,59}}</string>
				<key>sourceSize</key>
				<string>{128,59}</string>
			</dict>

			<key>utron.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1045},{305,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{305,138}}</string>
				<key>sourceSize</key>
				<string>{307,140}</string>
			</dict>

			<key>vay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1035},{88,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{88,56}}</string>
				<key>sourceSize</key>
				<string>{90,58}</string>
			</dict>

			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,141},{198,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{198,81}}</string>
				<key>sourceSize</key>
				<string>{200,83}</string>
			</dict>

			<key>xalang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,609},{164,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{164,59}}</string>
				<key>sourceSize</key>
				<string>{165,59}</string>
			</dict>

			<key>xamchi.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,801},{145,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{145,40}}</string>
				<key>sourceSize</key>
				<string>{147,40}</string>
			</dict>

			<key>xamco.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,1268},{145,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{145,39}}</string>
				<key>sourceSize</key>
				<string>{148,39}</string>
			</dict>

			<key>xaokhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1045},{305,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{305,138}}</string>
				<key>sourceSize</key>
				<string>{307,140}</string>
			</dict>

			<key>xem.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,506},{105,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,49}}</string>
				<key>sourceSize</key>
				<string>{105,49}</string>
			</dict>

			<key>xepxong.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,744},{195,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,56}}</string>
				<key>sourceSize</key>
				<string>{195,56}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1304,1308}</string>
			<key>textureFileName</key>
			<string>tx_endgame.png</string>
			</dict>
		</dict>
</plist>